$card-header-height: 5rem;
$card-thumbnail-size: 2.8rem;

.client-info-card {
  border: 1px solid var(--bg-gray-darken-050);
  border-radius: 0.3rem;
  grid-template-rows: $card-header-height 1fr;
  background-color: var(--bg-gray-lighten-015);
}

.client-info-header {
  display: grid;
  grid-template-columns: $card-thumbnail-size 1fr;
  column-gap: 12px;
  padding: 0 1rem;
  height: $card-header-height;
  align-items: center;
}

.thumbnail {
  width: $card-thumbnail-size;
  height: $card-thumbnail-size;
  border-radius: 50%;
  background-color: var(--bg-darkgray);
  color: $white;
  display: grid;
  align-items: center;
  justify-content: center;
}

.thumbnail-icon {
  font-size: 1.2rem;
}

.title {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--black-700);
  max-height: 92%;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;

  &.empty-title {
    color: var(--black-400);
    font-size: 14px;
    font-style: italic;
  }
}

.table {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 1rem;
}

.row {
  display: flex;
  border-bottom: 1px dashed var(--bg-gray-darken-050);
  padding: 0.2rem 0;

  &:last-child {
    border-bottom: none;
  }
}

.key {
  width: 30%;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

.value {
  width: 70%;
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 1rem;
}
