<select {{action 'setLocale' on='change'}} class="is-fullwidth">
  {{#each locales as |loc|}}
    <option value="{{loc.id}}" selected={{is-equal loc.id i18n.locale}}>
      {{loc.text}}
    </option>
  {{/each}}
</select>
