<select {{action 'setLocale' on='change'}} class="input is-fullwidth">
  <option value="en" selected={{is-equal en i18n.locale}}>
    English
  </option>
  <option value="ja" selected={{is-equal ja i18n.locale}}>
    日本語
  </option>
</select>
