<div data-test-history-table-file-id>
  {{#if @amAppSync.amApp.latestAmAppVersion.latestFile.id}}
    <AkLink
      @underline='always'
      @color='primary'
      @route='authenticated.dashboard.file'
      @fontWeight='medium'
      @model={{@amAppSync.amApp.latestAmAppVersion.latestFile.id}}
      target='_blank'
      rel='noopener noreferrer'
    >
      {{@amAppSync.amApp.latestAmAppVersion.latestFile.id}}
    </AkLink>
  {{else}}
    -
  {{/if}}
</div>