<span>
  {{t
    'notificationModule.messages.nf-nsapprvd1'
    htmlSafe=true
    platform_display=@context.platform_display
    namespace_value=@context.namespace_value
    namespace_created_on=@context.namespace_created_on
    moderator_username=@context.moderator_username
  }}
</span>