<span>
  Your
  <strong>namespace request</strong>
  for
  {{@context.platform_display}}
  app
  <strong>{{@context.namespace_value}}</strong>
  created on
  {{@context.namespace_created_on}}
  <strong>has approved</strong>
  by
  {{@context.moderator_username}}. Please
  <strong>upload the app again</strong>
  to perform scan.
</span>