.mfa__method {
  border: 1px solid darken(#f3f5f8, 5%);
  background: #f3f5f8;
  padding: 0.7em 1em 1em;
  h3 {
    margin-bottom: 0;
  }
  label {
    cursor: default;
  }
}
.mfa__method__enabled {
  background: #80C081;
  color: white;
  border-radius: 0.2em;
  padding: 0.3em 0.8em;
}

.ak-btn-loader {
  :global(.ak-loader-circle-indicator) {
    stroke: var(--mfa-loader-primary-contrast-text) !important;
  }
}