.org-setting-title {
  font-weight: bold;
  font-size: 1.2em;
}

.org-setting-subtitle {
  font-weight: bold;
  font-size: 1em;
}

.org-setting-desc {
  padding-top: 0.1em;
  font-size: 0.95em;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #efefef;
  background: #efefef;
  border-radius: 0.3em;
  padding: 1.5em;
}
.dropzone-logo {
  display: flex;
  align-items: center;
  width: 2.8em;
  margin-bottom: 0.8em;
}
.dropzone-upload {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}

.dropzone-upload-active {
  box-shadow: inset 0 0 6px #ccc;
}

.sso-table tr,
.sso-table tr:hover {
  background-color: #f9f9f9;
}
.sso-table th,
.sso-table th:hover {
  background-color: #f7f7f7;
}

.idp-cert-icon {
  font-size: 1em;
  line-height: 1.5;
}

.checkbox {
  margin-top: 0.3em;
}

.sso-setting {
  margin: 1.1em 0;
}

.title {
  font-weight: bold;
  font-size: 1.14rem;
  color: #171717;
  margin: 0.4em 0;
}

.sub-title {
  font-weight: 600;
  font-size: 1rem;
  color: #171717;
  margin: 0.4em 0;
}

.description {
  font-size: 0.9rem;
  color: #7b7b7b;
}
