.bordered-box {
  display: flex;
  max-width: 800px;
  border: 1px solid var(--border-color-1);
  border-radius: var(--border-radius);
  box-sizing: border-box;

  .integration-logo-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color-1);
    padding: 1em;

    img {
      width: 40px;
    }
  }

  .integration-account-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
  }
}
