.cert-card {
  border: 1px solid var(--organization-signing-certificate-border-color);
  border-radius: var(--organization-signing-certificate-border-radius);
  background: var(--organization-signing-certificate-background);
  padding: 1.14286em;
}
