.marketplace-header {
  font-size: 1.65rem;
  padding: 0 0 0.865em 0.5em;
}

.sub-header {
  font-size: 1.5rem;
  padding-bottom: 0.95em;
}

.sub-header-description {
  color: var(--marketplace-sub-header-description-text-color);
}
