<div data-test-history-table-store-version>
  {{#if @amAppSync.amApp.latestAmAppVersion.comparableVersion}}
    <AkTypography>
      {{@amAppSync.amApp.latestAmAppVersion.comparableVersion}}
    </AkTypography>
  {{else}}
    <AppMonitoring::Status
      @condition='{{am-status-condition this.amApp}}'
      @label='{{am-status-text this.amApp}}'
    />
  {{/if}}
</div>