<tr>
  <td>
    {{@project.id}}
  </td>

  <td>
    {{@project.packageName}}
  </td>

  <td class='table-button'>
    <LinkTo
      @route='authenticated.security.files'
      @model={{@project.id}}
      class='button mp-all-scans is-primary'
    >
      View Files
    </LinkTo>
  </td>
</tr>