.btn {
  height: 2.5rem;
  padding: 0.57em 0.85em;
  border-radius: 0.21em;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5em;
  line-height: 2.5rem;
  cursor: pointer;
  border: none;

  span {
    //Icon size
    font-size: 1rem;
  }

  &:disabled {
    opacity: 1;
    cursor: not-allowed;
  }
}
