.btn {
  height: 2.5em;
  padding: 0.5em;
  border: none;
  border-radius: var(--button-border-radius);
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5em;
  line-height: 2.5em; //overwrites global style
  cursor: pointer;

  &:disabled {
    opacity: 1;
    cursor: not-allowed;
  }

  &:hover,
  &:focus {
    border-color: unset; //overwrite global styles
  }
}
