.btn {
  height: 2.5rem;
  padding: 0.57em 0.85em;
  border: none;
  border-radius: var(--button-border-radius);
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5em;
  line-height: 2.5rem;
  cursor: pointer;

  span {
    //Icon size
    font-size: 1rem;
  }

  &:disabled {
    opacity: 1;
    cursor: not-allowed;
  }

  &:hover,
  &:focus {
    border-color: unset; //overwrite global styles
  }
}
