.client-credits-chart {

  .title {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
  }

  .chart-container {
    display: grid;
    justify-content: center;
  }
}
