<div>
  <div data-test-nf-newversn-primary-message>
    {{t
      'notificationModule.messages.nf-am-newversn'
      platform_display=@context.platform_display
      app_name=@context.app_name
      package_name=@context.package_name
      version_unscanned=@context.version_unscanned
      htmlSafe=true
    }}
  </div>

  <div>
    <div class='pt-1'>
      <AkLink
        @color='primary'
        @route='authenticated.dashboard.app-monitoring.monitoring-details.index'
        @underline='always'
        @title='{{t "notificationModule.viewStoreMonitoring"}}'
        @model={{@context.am_app_id}}
      >
        <:default>
          {{t 'notificationModule.viewStoreMonitoringResults'}}
        </:default>
      </AkLink>
    </div>
  </div>
</div>