.drawer-body {
  flex: 1;
  overflow-y: auto;
}

.cert-card {
  border: 1px solid var(--organization-signing-certificate-border-color);
  border-radius: var(--organization-signing-certificate-border-radius);
  background: var(--organization-signing-certificate-background);
  padding: 1.14286em;
}

.cert-meta-label {
  font-size: 0.857rem;
  font-weight: 500;
}

.cert-meta-value {
  font-size: 0.857rem;
  word-break: break-all;
}

.cert-meta {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.85714em;
  row-gap: 0.42857em;
  align-items: baseline;
}

.empty-state-block {
  border: 1px solid var(--organization-signing-certificate-border-color);
}

.empty-description {
  max-width: 350px;
}
