.app-logo-container {
  width: 40px;
  height: 40px;
  padding: 0.5em;
  border-radius: var(--sbom-app-logo-border-radius);
  border: 1px solid var(--sbom-app-logo-border-color);
  box-sizing: border-box;

  img {
    object-fit: contain;
    background-image: none;
    overflow: hidden;
  }
}
