.header-security-project-page-title {
  min-width: 600px;
  padding: 1em 1.285em;
  border: 1px solid var(--security-file-search-list-header-border-color);
  border-radius: var(--security-file-search-list-header-border-radius);
}

.search-package-name-input {
  font-size: 0.857rem !important;
}
