<span
  data-test-ak-icon
  ...attributes
  class='{{this.variantClass}} ak-icon-{{@iconName}}'
  local-class='
    ak-icon-root
    ak-icon-size-{{or @size "medium"}}
    ak-icon-color-{{or @color "inherit"}}'
></span>