.link-container {
  width: max-content;
  margin: 1.43em 0;
}

.neutral-underlined {
  display: flex;
  align-items: center;
  font-size: 1rem;
  column-gap: 0.5em;
  color: var(--body-text-1);
  font-weight: 600;

  &:hover {
    color: var(--body-text-1);
    .underlined-text {
      text-decoration: none;
    }
  }
}

.underlined-text {
  text-decoration: underline;
}
