<div local-class="link-container">
  <LinkTo
    @route={{@route}}
    local-class="neutral-underlined"
    data-test-link-neutral-underlined
    ...attributes
  >
    <MdIcon @name="arrow_back" data-test-link-neutral-underlined-icon />
    <span local-class="underlined-text">
      {{@label}}
    </span>
  </LinkTo>
</div>
