.storeknox-archived-apps-header-root {
  margin: 0.714em 0;
  padding: 1.428em;
  border: 1px solid var(--storeknox-inventory-archived-apps-header-border-color);

  background-color: var(
    --storeknox-inventory-archived-apps-header-background-color
  );
}

.storeknox-archived-apps-table-container {
  background-color: var(--storeknox-inventory-archived-apps-table-bg-color);
}
