{{! @glint-nocheck: fa-icon}}
<AkStack
  ...attributes
  data-test-appPlatform-container
  local-class='app-platform-icon-container {{if @bordered "bordered"}}'
  @justifyContent='center'
  @alignItems='center'
>
  <span
    data-test-appPlatform-icon
  >
    <AkIcon
      @iconName='{{this.platformIconClass}}'
      local-class='app-platform-icon-{{this.platformIconClass}}'
    />
  </span>
</AkStack>