<div
  local-class='platform platform-{{this.platformIconClass}}'
  data-test-privacyModule-appListTableRow-platform={{this.platformIconClass}}
>
  <AkIcon @iconName='{{this.platformIconClass}}' />
</div>