.header-storeknox-discover-page {
  margin: 0.714em 0;
  border: 1px solid var(--storeknox-discover-header-border-color);
  padding: 1.428em;
}

.description-storeknox-discover-page {
  color: var(--storeknox-discover-header-description-color);
}
