.ak-autocomplete-input-root {
  :global(.ak-text-field-right-adornment) {
    position: absolute;
    right: 0px;
  }
}

.ak-autocomplete-clear-button {
  z-index: calc(var(--ak-autocomplete-x-btn-zIndex) + 1);
}

.ak-autocomplete-dropdown-root {
  display: inline-flex;
  background-color: var(--ak-autocomplete-background);
  border-radius: var(--ak-autocomplete-border-radius);
  box-shadow: var(--ak-autocomplete-box-shadow);
  border: 1px solid var(--ak-autocomplete-border-color);
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-height: 10em;
  overflow-y: auto;
}

.ak-autocomplete-text-field {
  padding-left: 1em !important;
  padding-right: 2.5em !important;
}

.ak-autocomplete-dropdown-list {
  width: 100%;
}
