/*------- sass vars for function start -------*/
/* these should not be used unless required for sass functions */
$black: #000000;

/*------- sass vars for function end -------*/

/*------- static colors start -------*/
body {
  --white: #ffffff;
  --black: #{$black};
  --shade-black-7: #c4c4c4;
  --green-approval: #2db421;
}
/*------- static colors end -------*/

/*------- text colors start ------*/
body {
  --text-black-91: #{lighten($black, 9%)};
  --body-text-1: var(--text-black-91);
}
/*------- text colors end ------*/

/*------- button colors start -------*/
/* button primary filled */
body {
  --button-primary-filled-bg: var(--primary);
  --button-primary-filled-bg__disabled: var(--shade-black-7);
  --button-primary-filled-font-color: var(--white);
  --button-primary-filled-font-color__disabled: var(--white);
  --button-primary-filled-bg__hover: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.08),
      rgba(0, 0, 0, 0.08)
    ),
    linear-gradient(
      0deg,
      var(--button-primary-filled-bg),
      var(--button-primary-filled-bg)
    );
  --button-primary-filled-border-color__focus: rgba(0, 0, 0, 0.4);
}

/* button primary outlined */
body {
  --button-primary-outlined-bg: var(--white);
  --button-primary-outlined-font-color: var(--primary);
  --button-primary-outlined-font-color__disabled: var(--shade-black-7);
  --button-primary-outlined-border-color: var(--primary);
  --button-primary-outlined-border-color__disabled: var(
    --button-primary-outlined-font-color__disabled
  );
}

/* button neutral outlined */
body {
  --button-neutral-outlined-bg: var(--white);
  --button-neutral-outlined-font-color: var(--body-text-1);
  --button-neutral-outlined-font-color__disabled: var(--shade-black-7);
  --button-neutral-outlined-border-color: var(--shade-black-7);
  --button-neutral-outlined-border-color__disabled: var(
    --button-neutral-outlined-font-color__disabled
  );
}

/*------- radio button colors end -------*/

body {
  --radio-button-color__checked: var(--green-approval);
  --radio-button-border-color__checked: var(--radio-button-color__checked);
  --radio-button-border-color__unchecked: var(--body-text-1);
  --radio-button-label-color: var(--body-text-1);
  --radio-button-color__disabled: var(--shade-black-7);
  --radio-button-border-color__disabled: var(--radio-button-color__disabled);
}

/*------- radio button colors end -------*/
