/*------- sass vars for function start -------*/
/* these should not be used unless required for sass functions */
$black: #000000;

/*------- sass vars for function end -------*/

//---------- Theme variables--------------//
// Note: going forward only these variables should be used
// and any other existing variable should be replaced by these
body {
  --common-black: #000000;
  --common-white: #ffffff;

  --background-main: #ffffff;
  --background-dark: #424651;
  --background-light: #fafafa;

  --primary-main: #ff4d3f;
  --primary-dark: #e23123;
  --primary-light: rgba(254, 77, 63, 0.2);
  --primary-contrast-text: #ffffff;

  --secondary-main: #424651;
  --secondary-contrast-text: #ffffff;

  --success-main: #2db421;
  // --success-dark -
  --success-light: #e9f5ed;

  --error-main: #d72f2f;
  // --error-dark -
  --error-light: #ffd1d4;

  --warn-main: #ffd52e;
  --warn-dark: #a5872d;
  --warn-light: #fff7d7;

  // --info-main: Skip for now
  // --info-dark: Skip for now
  // --info-light: Skip for now

  --neutral-grey-50: #fcfcfc;
  --neutral-grey-100: #f5f5f5;
  --neutral-grey-200: #e9e9e9;
  --neutral-grey-300: #d9d9d9;
  --neutral-grey-400: #c4c4c4;
  --neutral-grey-500: #9d9d9d;
  --neutral-grey-600: #7b7b7b;
  --neutral-grey-700: #555555;
  --neutral-grey-800: #434343;
  --neutral-grey-900: #262626;

  --text-primary: #171717;
  --text-secondary: #7b7b7b;
  --text-disabled: #c4c4c4;

  --divider: #f5f5f5;
  --divider-dark: #e9e9e9;

  --border-radius: 2px;

  --border-color-1: #e9e9e9;
  --border-color-2: #c4c4c4;

  --box-shadow-1: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);

  --hover-dark-background: rgba(255, 255, 255, 0.15);
  --hover-light-background: rgba(0, 0, 0, 0.04);

  --disabled-background-textfield: #f5f5f5;
  --disabled-background-button: #c4c4c4;

  --html-font-size: 14px;
  --font-family: 'Open Sans', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --zIndex-appbar: 1100;
  --zIndex-drawer: 1200;
  --zIndex-modal: 1300;
  --zIndex-snackbar: 1400;
  --zIndex-tooltip: 1500;
}

/*------- static colors start -------*/
body {
  --white: #ffffff;
  --black: #{$black};

  --body-type-color: #171717;
  --am-drawer-header-title: #ff4d3f;
  --green-approval: #80c081;

  --neutral-white-100: #f1f1f1;
}
/*------- static colors end -------*/

/*------- text colors start ------*/
body {
  --text-black-91: #{lighten($black, 9%)};
  --body-text-1: var(--text-black-91);
  --text-primary-color: var(--text-black-91);
  --text-secondary-color: #9d9d9d;
}
/*------- text colors end ------*/

/*------- button colors start -------*/
/* button primary filled */
body {
  --button-primary-filled-bg: var(--primary);
  --button-primary-filled-bg__disabled: var(--neutral-grey-400);
  --button-primary-filled-font-color: var(--white);
  --button-primary-filled-font-color__disabled: var(--white);
  --button-primary-filled-bg__hover: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.08),
      rgba(0, 0, 0, 0.08)
    ),
    linear-gradient(
      0deg,
      var(--button-primary-filled-bg),
      var(--button-primary-filled-bg)
    );
  --button-primary-filled-border-color__focus: rgba(0, 0, 0, 0.4);
}

/* button primary outlined */
body {
  --button-primary-outlined-bg: var(--white);
  --button-primary-outlined-font-color: var(--primary);
  --button-primary-outlined-font-color__disabled: var(--neutral-grey-400);
  --button-primary-outlined-border-color: var(--primary);
  --button-primary-outlined-border-color__disabled: var(
    --button-primary-outlined-font-color__disabled
  );
}

/* button neutral outlined */
body {
  --button-neutral-outlined-bg: var(--white);
  --button-neutral-outlined-font-color: var(--body-text-1);
  --button-neutral-outlined-font-color__disabled: var(--neutral-grey-400);
  --button-neutral-outlined-border-color: var(--neutral-grey-400);
  --button-neutral-outlined-border-color__disabled: var(
    --button-neutral-outlined-font-color__disabled
  );
}

/*------- button colors end -------*/

/*------- toggle button colors start ------*/
body {
  --toggle-button-checked-color: var(--green-approval);
  --toggle-button-unchecked-color: var(--neutral-grey-300);
  --toggle-button-label-color: var(--text-black-91);
  --toggle-button-slider-circle-color: var(--white);
}
/*------- toggle button colors end ------*/

/*------- ember-attacher colors start ------*/
/* popover white */
body {
  --popover-white-bg: var(--white);
  --popover-white-border-color: var(--black-150);
}
/*------- ember-attacher colors end ------*/

/*------- AM status colors start ------*/
body {
  --am-status-warning: #fff7d7;
  --am-status-warning-bg: #a5872d;
  --am-status-success: #2e9940;
  --am-status-success-bg: #e9f5ed;
  --am-status-alert: #a3332c;
  --am-status-alert-bg: #f8b5b9;
}
/*------- AM status colors end ------*/

/*------- input colors start ------*/
body {
  --input-border-color: #fff2f1;
}
/*------- input colors end ------*/
