body {
  // variables for ak-icon
  --ak-icon-color-primary: var(--primary-main);
  --ak-icon-color-secondary: var(--secondary-main);
  --ak-icon-color-text-primary: var(--text-primary);
  --ak-icon-color-text-secondary: var(--text-secondary);
  --ak-icon-color-error: var(--error-main);
  --ak-icon-color-success: var(--success-main);
  --ak-icon-color-warn: var(--warn-main);
  --ak-icon-color-info: var(--info-main);
}
