body {
  // variables for ak-icon
  --ak-icon-color-primary: var(--primary-main);
  --ak-icon-color-secondary: var(--secondary-main);
  --ak-icon-color-text-primary: var(--text-primary);
  --ak-icon-color-text-secondary: var(--text-secondary);
  --ak-icon-color-error: var(--error-main);
  --ak-icon-color-success: var(--success-main);
  --ak-icon-color-warn: var(--warn-main);
  --ak-icon-color-info: var(--info-main);

  // variables for ak-loader
  --ak-loader-stroke-primary-main: var(--primary-main);
  --ak-loader-stroke-primary-light: var(--primary-light);

  // variables for ak-popover
  --ak-popover-arrow-background-light: var(--background-main);
  --ak-popover-arrow-border-light: var(--border-color-1);
  --ak-popover-arrow-background-dark: var(--background-dark);

  // variables for ak-popover
  --ak-tooltip-border-radius: var(--border-radius);
  --ak-tooltip-font-weight-regular: var(--font-weight-regular);
  --ak-tooltip-font-family: var(--font-family);
  --ak-tooltip-box-shadow-2: var(--box-shadow-2);
  --ak-tooltip-background-light: var(--background-main);
  --ak-tooltip-background-dark: var(--background-dark);
  --ak-tooltip-color-on-light: var(--text-primary);
  --ak-tooltip-color-on-dark: var(--common-white);
  --ak-tooltip-border-light: var(--border-color-1);

  // variables for ak-divider
  --ak-divider-color-light: var(--divider);
  --ak-divider-color-dark: var(--divider-dark);
}
