$extensions-list: (apk: #5eb533,
  ipa: #8e44ad,
  txt: #a6b1b5,
  log: #373a43,
  pdf: #DB3E3D,
  doc: #307cf1,
  docx: #307cf1,
  xls: #0f9d58,
  xlsx: #0f9d58,
  xlsm: #0f9d58,
  zip: #855D40,
  jpg: #80c081,
  jpeg: #80c081,
  png: #80c081,
  bmp: #80c081,
);

$risk-critical: #EF4836;
$risk-danger: #FF8C00;
$risk-warning: #F5D76E;
$risk-info: #2CC2F8;
$risk-success: #80C081;
$risk-default: #6B6B6B;


$attachment-icon-width: 4em;

$white: #ffffff;

// AkModal
$modal-header: #424651;
