.user-fix{
    margin-top: 15px;
    margin-right: 15px;
}

.dropdown-menu-fix {
    margin: 40px -110px 0;
}

.popup-menu_pointer{
    display: none;
}

.panel-heading-fix{
    padding: 0px 0px;
    img{
        height: 50px;
        width: 50px;
    }
}
