@import "bohemia"
$FreestyleGuide-color--primary: $primary
$FreestyleGuide-color--accent: $primary
$FreestyleGuide-color--secondary: $primary-darker
$FreestyleGuide-color--foreground: $text
$FreestyleGuide-color--background: $background
@import 'ember-freestyle'

/* Margin Defines*/
.margin-top30
  margin-top: 30px

.margin-top
  margin-top: 10px

.margin-top5
  margin-top: 5px

.margin-top20
  margin-top: 20px

.margin-top35
  margin-top: 35px

.margin-left
  margin-left: 10px

.margin-left30
  margin-left: 30px

.margin-left0
  margin-left: 0px

.margin-top50
  margin-top: 50px

.margin-left20
  margin-left: 20px

.margin-right
  margin-right: 10px

.margin-right-40
  margin-right: -40px

.margin-bottom20
  margin-bottom: 20px

.margin-both
  margin-left: 10px
  margin-right: 10px

/* Appknox specific */
.appknox-logo
  margin-top: 13px

.appknox-logo img
  width: 100px
  margin-left: auto

.upper-nav
  position: relative
  background: white
  box-shadow: 1px 0px 8px -1px rgba(0, 0, 0, 0.3)

.current-user
  float: right
  display: flex
  justify-content: flex-end
  align-items: center
  margin-right: 50px


.logo-img
  margin: 0 auto
  width: 100%

// FIXME: Remove this after updating bohemia
.menu-list
  a
    font-weight: bold
    &:hover
      font-weight: bolder
    &.is-active
      font-weight: bolder

.card-header
  .pricing-title
    align-items: center
    justify-content: center

input
  display: block

form
  button
    margin-top: 10px

.title-tag
  background-color: #5bc0de
  border-radius: 0px
  color: #fff
  align-items: center

.login-phone-image
  img
    width: 70%

.pricing-section
  box-shadow: 0 0 10px grey
  margin-top: 20px

.pricing-sub-section
  box-shadow: 0px 4px 10px -6px #222
  margin-bottom: 0px!important
  margin-top: 20px

.pricing-section-content
  line-height: 50px

.pricing-section
  button
    border-radius: 0px
    background-color: #80C081
    border-color: #80C081!important
    color: white!important

.is-reverse
  display: flex
  flex-direction: row-reverse

.status-box
  color: #31708f
  margin-top: 10px
  box-shadow: 0px 2px 2px #888, 0px -2px 2px #888
  padding: 5px 5px

// TODO: Remove this when Bohemia is updated
select
  appearance: button
  border-radius: 2px
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
  padding-end: 20px
  padding-start: 2px
  user-select: none
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAeCAYAAAAo5+5WAAAAdUlEQVRIx2MQllCs+P//vwcQM1ATM4waPGrwqMEjzmBSweAxGMgu+k8YFJHjYsvFixfvwWUiSA6khtygsFmxYsV+dENBYiA5SsPYfvXq1QdghoLYIDFqRZ7jxo0bD4MwiE3tVOECxYM0uVHd4NFCaNTgQW4wAKpugq+9Zk7QAAAAAElFTkSuQmCC), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5)
  background-position: 97% center
  background-repeat: no-repeat
  border: 1px solid #AAA
  font-size: inherit
  overflow: hidden
  padding: 5px 10px
  text-overflow: ellipsis
  white-space: nowrap
  width: 150px

.file-input
  position: fixed
  top: -100px

.implication-list
  margin-left: 20px
  list-style-type: circle

.scrollable-box
  display: inline-block
  max-width: 30vw
  min-width: 100%
  overflow: scroll
  text-overflow: clip
  height: 50px
  padding: 9.5px
  margin: 10px 0 10px
  font-size: 13px
  line-height: 1.42857143
  color: #333
  background-color: #f5f5f5
  border: 1px solid #ccc
  border-radius: 4px

.pre-code
  background-color: #f5f5f5

.user-info
  margin: 5px 5px
  padding-right: 10px
  border-right: 2px solid #888

.user-box
  margin-top: 8px
  border: 2px solid #888
  padding: 3px

.align-center
  display: flex
  justify-content: center

.recover-form
  width: 20%!important

.account-overview
  padding: 5px 30px
  font-weight: bolder

.account-overview-details
  padding: 5px 45px
  font-size: initial

.modal-footer
  margin-top: 20px

.delete
  margin-left: 20px 
