$custom-picker-shadow-tint: rgba(0,0,0,0.2);
$custom-picker-shadow: 1px 4px 12px $custom-picker-shadow-tint;
$custom-picker-padding: 4px;
$custom-picker-radius: 0 0 11px 11px;

.custom-styled-picker{
  &.date-picker__wrapper{
    .date-picker__trigger {
      &.ember-basic-dropdown-trigger{
        border: 1px solid #ccc;
        position: relative;
        &::before{
          content: 'Duration: ';
          position: absolute;
          left: 50%;
          top: -25px;
          transform: translateX(-50%);
          font-size: 13px;
          font-weight: bold;
        }
        button{
          &.date-picker__button{
            border: none;
            min-width: 150px;
            vertical-align: baseline;
          }
        }
      }
    }
  }
}

.date-picker {
  &.date-picker--options{

    .date-picker__calendar{
      .date-picker__days{
        .date-picker__day{
          &:hover,&:focus{
            box-shadow: inset 0 0 1px 2px #FE4D3F;
          }
        }
      }
    }

    .date-picker__options{
      button{
        &.date-picker__options__button{
          border: 1px solid #ccc;
          border-radius: 0;
        }
      }
    }

  }
}

.date-picker__header__select__content{
  button[type='button']{
    &.date-picker__header__select__item{
      border-radius: 0;
    }
  }
}

.date-picker__header__month,
.date-picker__header__year {
  &.date-picker__header__select{
    cursor: pointer;
  }
}

$custom-picker-background: #f5f3f3;
$custom-picker-shadow-tint: rgba(0,0,0,0.2);
$custom-picker-shadow: 1px 4px 12px $custom-picker-shadow-tint;
$custom-picker-padding: 4px;
$custom-picker-radius: 0 0 11px 11px;

.custom-styled-picker{

    &.ember-basic-dropdown-content{
        box-shadow: $custom-picker-shadow;
        background: $custom-picker-background;
        border-radius: $custom-picker-radius;
    }

    .ember-power-calendar-nav,
    .ember-power-calendar-days{
        padding: $custom-picker-padding;
    }
  }
}

.date-picker {
  &.date-picker--options{

    .date-picker__calendar{
      .date-picker__days{
        .date-picker__day{
          &:hover,&:focus{
            box-shadow: inset 0 0 1px 2px #FE4D3F;
          }
        }
      }
    }

    .ember-power-calendar-days{
        .ember-power-calendar-row{
            justify-content: space-around;
            .ember-power-calendar-weekday{
                margin:0 10px;
            }
        }
        .ember-power-calendar-day-grid{
            .ember-power-calendar-week{
                .ember-power-calendar-day{
                    margin: 4px;
                    border: 1px solid #afadad;
                    border-radius: 0;

                    &:hover{
                        border-color: 1px solid #333;
                        background: #333;
                        color: #fefefe;
                    }
                }

            }
        }
      }
    }

  }
}

.date-picker__header__select__content{
  button[type='button']{
    &.date-picker__header__select__item{
      border-radius: 0;
    }
  }
}


    &.date-input-class{
        width: 100%;
        padding: 8px;
        display: inline-block;
    }
}


