.drawer-body {
  padding: 0 1.428em;
  width: 642px;

  .country-name {
    margin: 1.285em 0;

    .details-number {
      margin-left: 0.285em;
      border: 1px solid var(--privacy-module-geo-location-map-border-color);
      border-radius: var(--privacy-module-geo-location-map-border-radius);
      padding: 0.285em;
      gap: 0.214em;
      align-items: center;

      .globe-icon {
        font-size: 1.071rem !important;
      }

      .number {
        font-size: 0.857rem;
        font-weight: var(--privacy-module-geo-location-text-fw-bold);
      }
    }
  }

  .accordion-container {
    .accordion {
      border: 1px solid
        var(--privacy-module-geo-location-accordion-border-color);
      margin-bottom: 1.428em;
    }

    .accordion-header {
      padding: 0.857em 0.714em 0.857em 1.428em;
      border-bottom: 0px;
      background-color: var(--privacy-module-geo-location-map-border-color);
    }

    .accordion-body {
      padding: 1.428em;
      gap: 1.07em;

      .wrap-text {
        overflow-wrap: anywhere;
      }
    }
  }
}

.drawer-note-section {
  margin: 0 -1.428em;
  box-shadow: var(--privacy-module-geo-location-drawer-shadow);
  width: calc(100% + 2.857em);
}

.warning-high {
  background-color: var(--privacy-module-geo-location-area-error-color);
  color: var(--privacy-module-geo-location-map-bg-color);
  height: 3.14em;
  padding: 0 1em;
}
