.options-selected-container {
  height: 22px;
  border-radius: 0.8571em;
  padding: 0.42857em;

  background-color: var(
    --file-details-api-scan-captured-apis-domain-filters-selected-options-background
  );

  color: var(
    --file-details-api-scan-captured-apis-domain-filters-selected-options-color
  );
}
