.empty-loading-container {
  width: 100%;
  border: 1px solid var(--sbom-empty-loading-view-border-color);
  border-radius: var(--sbom-empty-loading-view-border-radius);
  justify-content: center;
  align-items: center;

  &.skeleton {
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.list {
    border: 0px;
  }
}
