<div data-test-nf-upldfailnsunaprv1-primary-message>
  {{t
    'notificationModule.messages.nf-upldfailnsunaprv1'
    htmlSafe=true
    platform_display=@context.platform_display
    namespace_value=@context.namespace_value
  }}
</div>