.invitation {
  display: grid;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.3rem 0.8rem;
  grid-template-columns: 1fr 20% 8rem 6rem 6.5rem 6rem;
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 25% 9rem 7rem 6.5rem 6rem;
  }
}
.invitation-expired {
  background-color: #fafafb;
  opacity: 0.6;
}
.user {
  padding-right: 1rem;
}
.email {
  color: #3b3f49;
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 1.2;
  word-break: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
.name {
  word-break: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  padding-top: 0.3rem;
  font-size: 0.9rem;
}
.company {
  word-break: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  padding-right: 1rem;
  font-size: 0.92rem;
}
.date {
  font-style: italic;
  font-size: 0.9rem;
  padding-right: 0.5rem;
}
.expired {
  color: tomato;
  text-transform: lowercase;
}
.source {
  font-size: 0.85rem;
  padding: 0.1rem 0.6rem 0.2rem;
  display: inline-block;
  border-radius: 0.3rem;
}
.source-backoffice {
  color: #a9560f;
  background-color: #fde6ca;
}
.source-invitation {
  color: #156347;
  background-color: #ccf3cc;
}
.source-registration {
  color: #4160a9;
  background-color: #dbe6ff;
}
.actions {
  display: flex;
  justify-content: flex-end;
}
