.file-summary-root {
  width: 100%;
  border: 1px solid var(--file-details-summary-border-color);
  background-color: var(--file-details-summary-background-color);
  box-sizing: border-box;

  .file-summary-padding {
    padding: 0.75em 0;
  }
}

.file-more-menu-item-group {
  padding: 0.5em 1em 0.75em 1em;

  &:not(:first-child) {
    padding-top: 1em;
  }
}

.store-logo-container {
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(
      --file-details-summary-store-logo-container-background-color
    );
    border: 1px solid
      var(--file-details-summary-store-logo-container-border-color);
  }
}

.appstore-logo-vector {
  height: 16px;
  width: 16px;
}
