.app-details-table-wrapper {
  overflow-x: auto;

  .app-details-table-container {
    .app-details-table {
      td:first-child {
        border-left: none !important;
      }

      td:last-child {
        border-right: none !important;
      }

      .table-row {
        height: 47px !important;
      }
    }
  }
}
