.ak-form-control-label-root {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
}

.ak-form-control-label {
  margin: 0px;
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.ak-form-control-label-placement-right {
  flex-direction: row;
}

.ak-form-control-label-placement-left {
  flex-direction: row-reverse;
}

.ak-form-control-label-disabled {
  color: var(--text-disabled) !important;
}
