.appknox-logo {
    pointer-events: none;

    img {
      max-width: 12em;
      max-height: 2em;
    }
}

.security-top-nav {
  max-height: 4em;
  padding: 1em 1.5em;
  margin-bottom: 1.5em;
  background-color: var(--security-dashboard-nav-bg-color);
}