.flag-label {
  background: lighten(#FFD642, 20%);
  border: 1px solid lighten(#FFD642, 10%);
  color: darken(#FFD642, 35%);
  border-radius: 0.2rem;
  padding: 0.08rem 0.4rem;
  font-size: 0.85em;
  margin-top: 0.2rem;
  margin-left: 0.6rem;
}
.flag-label-icon {
  font-size: 1em;
  margin-right: 0.3em;
  vertical-align: middle;
}
