.side-menu-root {
  width: 100%;
  height: 100vh;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
  z-index: var(--organization-dashboard-side-nav-zIndex);
  background-color: var(--organization-dashboard-side-nav-bg-color);
  box-shadow: var(--organization-dashboard-side-nav-box-shadow);
  border-right: var(--organization-dashboard-side-nav-border);
  display: flex;
  flex-direction: column;

  &.expanded {
    .divider {
      width: 90%;
    }
  }

  &.collapsed {
    .divider {
      width: 75%;
    }

    .scroll-container {
      display: flex;
      flex: 1;
    }

    .side-menu-list {
      margin: auto;
    }
  }

  .app-logo {
    margin: 3em auto;
    max-width: 56%;
    max-height: 9em;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .favicon-logo {
    max-width: 35px;
    max-height: 35px;
    margin: 0.5em auto 1em auto;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .side-menu-list {
    width: 100%;
    align-items: center;
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .scroll-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menu-item-tooltip {
    display: flex;
    width: 100%;
    padding: 0.6em 1em;
    justify-content: center;
  }

  .menu-item-link {
    display: flex;
    width: 100%;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(
        --organization-dashboard-side-nav-item-hover-background
      ) !important;
    }

    &.active {
      position: relative;
      background-color: var(
        --organization-dashboard-side-nav-item-active-background
      );

      &::before {
        content: '';
        display: block;
        width: 2px;
        height: 100%;
        background-color: var(
          --organization-dashboard-side-nav-item-active-border-color
        );
        position: absolute;
        left: 0;
        top: 0;
      }

      .menu-item-text {
        font-weight: var(--organization-dashboard-side-nav-font-weight-medium);
      }

      .menu-item-badge {
        height: 18px !important;
        background-color: var(
          --organization-dashboard-side-nav-item-active-badge-background
        );

        span {
          color: var(
            --organization-dashboard-side-nav-item-active-badge-text-color
          );
          font-weight: var(
            --organization-dashboard-side-nav-font-weight-medium
          );
          opacity: unset;
        }
      }
    }

    .menu-item-badge {
      height: 18px !important;
      background-color: var(
        --organization-dashboard-side-nav-item-badge-background
      );

      span {
        color: var(--organization-dashboard-side-nav-item-badge-text-color);
        font-weight: var(--organization-dashboard-side-nav-font-weight-medium);
        opacity: 0.4;
      }
    }
  }

  .menu-item-icon,
  .menu-item-text {
    color: var(--organization-dashboard-side-nav-text-color) !important;
  }

  .submission-container {
    height: 100%;
  }

  .lower-menu {
    display: flex;
    flex-direction: column;

    .pendo-icon {
      height: 18px;
      width: 18px;
      position: absolute;
    }

    .pendo-ak-icon {
      position: relative;
    }

    .rotated-icon {
      transform: rotate(180deg);
    }

    .lower-menu-chat {
      color: var(--organization-dashboard-side-nav-text-primary) !important;
    }
  }

  .divider {
    align-self: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .no-hover {
    &:hover,
    &:focus {
      background-color: transparent !important;
      cursor: default;
    }
  }
}
