<div local-class='table-header' data-test-table-header-container>
  {{#each this.tableHeaders as |header|}}
    {{#if (eq header 'Status')}}
      <div local-class='column-header status' data-test-table-header>
        <span local-class='text'>{{header}}</span>
        <div
          local-class='tooltip'
          data-tooltip='Text again'
          data-test-tooltip-container
        >
          <span local-class='tooltip-info-icon' data-test-tooltip-trigger-icon>
            {{inline-svg '/error_black.svg'}}
          </span>
          <div local-class='tooltiptext' data-test-tooltip-content>
            <span local-class='text-section' data-test-tooltip-content-section>
              <strong>Not Found</strong>
              - The application could not be located in Playstore/Appstore.
            </span>
            <span local-class='text-section' data-test-tooltip-content-section>
              <strong>Not Initiated</strong>
              - The unscanned version of the app in Playstore/Appstore is not
              yet uploaded to Appknox by the user.
            </span>
            <span local-class='text-section' data-test-tooltip-content-section>
              <strong>Completed</strong>
              - The latest scanned version of the app in Appknox and
              Playstore/Appstore are the same.
            </span>
          </div>
        </div>
      </div>
    {{else}}
      <div local-class='column-header' data-test-table-header>{{header}}</div>
    {{/if}}
  {{/each}}
</div>