<div>
  <div data-test-nf-nsreqstd1-primary-message>
    {{t
      'notificationModule.messages.nf-nsreqstd1.primary'
      htmlSafe=true
      requester_username=@context.requester_username
      platform_display=@context.platform_display
      namespace_value=@context.namespace_value
    }}
  </div>
  <div class='pt-1'>
    <div local-class='state-moderated'>
      <AkIcon
        data-test-nf-nsreqstd1-approved-icon
        @iconName='check-circle'
        @color='success'
      />
      <div data-test-nf-nsreqstd1-approved-message>
        {{t
          'notificationModule.messages.nf-nsreqstd1.approved'
          moderaterName=@moderaterName
        }}
      </div>
    </div>
  </div>
</div>