$filetag-bg: #f3f5f8;
$disable-bg: #f7f7f7;

.filetag {
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  background: darken($disable-bg, 8%);
  padding: 0 0.5em .1em;
  border-radius: 0.2em;
  height: 1.6em;
}

.p-size{
  font-size: large;
  padding: 20px;
}
.user-disabled{
  background-color: $disable-bg;
}
.user-disabled:hover{
  background-color: $disable-bg;
}

.user-pop-setting{
  padding: 10px;
  background-color: #424651;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  border-radius: 5px;
  color: #FFF;
}
.pop-over-entry{
  color: #949292;
  width: fit-content;
  border-radius: 4px;
  transition: all 80ms linear;
  background: rgba(var(--sk_primary_background,255,255,255),1);
  --saf-0: rgba(var(--sk_primary_foreground,29,28,29),0.3);
  border: 1px solid var(--saf-0);
  background-clip: padding-box;
  font-weight: 700;
  padding: 2px 7px 3px;
}
.pop-over-entry:hover{
  background: rgba(var(--sk_foreground_min,29,28,29),.04);
}
.a-color{
  color: inherit;
}
.a-color:hover{
  color: inherit;
}
.m-l-1-b-1 {
  margin-bottom: 1em;
  margin-left: 1em;
  word-break: break-all;
}
