$filetag-bg: #f3f5f8;
$disable-bg: #f7f7f7;

.filetag {
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  background: darken($disable-bg, 8%);
  padding: 0 0.5em .1em;
  border-radius: 0.2em;
  height: 1.6em;
}

.p-size{
  font-size: large;
  padding: 20px;
}
.user-disabled{
  background-color: $disable-bg;
}
.user-disabled:hover{
  background-color: $disable-bg;
}

.user-pop-setting{
  padding: 0.8em;;
  background-color: #424651;
  border-radius: 5px;
  color: #FFF;
}
.pop-over-entry{
  color: #949292;
  width: fit-content;
  border-radius: 4px;
  border: 1px solid rgba(29, 28, 29, 0.4);
  padding: 0.3em 0.8em;
}
.pop-over-entry:hover{
  background: rgba(29,28,29,.04);
}
.a-color, .a-color:hover{
  color: inherit;
}
.m-l-1-b-1 {
  margin-bottom: 1em;
  margin-left: 1em;
  word-break: break-all;
}
