.va-notification-group-settings {
  padding: 1.2857em 1.1429em;
  border: 1px solid
    var(--account-settings-notification-settings-group-border-color);
}

.tooltip-content-container {
  width: 340px;
  padding: 0.5em;
  box-sizing: border-box;
  white-space: normal;
}
