.va-notification-group-settings {
  border: 1px solid var(--ak-tabs-border-color);
  padding: 1.2857em 1.1429em;
}

.tooltip-content-container {
  width: 340px;
  padding: 0.5em;
  box-sizing: border-box;
  white-space: normal;
}
