.bordered-box {
  padding: 1.25em;
  border: 1px solid
    var(--file-details-scan-actions-api-scan-captured-apis-border-color);
  box-sizing: border-box;
}

.loading-container {
  padding: 1.5em;
  height: 150px;
  border-radius: var(
    --file-details-scan-actions-api-scan-captured-apis-border-radius
  );
  border: 1px solid
    var(--file-details-scan-actions-api-scan-captured-apis-border-color);
  box-sizing: border-box;
}
