.header-container {
  padding: 0.5em 1em 1em 1em;
  box-sizing: border-box;
}

.tabs-container {
  display: flex;
  margin: 0 1em;
  border-bottom: 1px solid var(--organization-details-border-color);
  box-sizing: border-box;

  .tabs-root {
    display: flex;

    .tab-root a {
      display: flex;
      min-width: 100px;
      align-items: center;
      justify-content: center;
      padding: 1em 1.5em;
      color: var(--organization-details-color-text-secondary);
      font-weight: var(--organization-details-font-weight-bold);

      .tab-icon {
        margin-right: 0.5em;
        font-size: 18px;
        color: var(--organization-details-color-text-secondary);
      }

      .badge {
        font-size: 12px;
        font-weight: var(--organization-details-font-weight-regular);
        padding: 0.143em 0.357em;
        border-radius: var(--organization-details-border-radius);

        background-color: var(--organization-details-neutral-background);
        min-width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.active {
        color: var(--organization-details-color-text-primary);
        position: relative;

        .badge {
          background: var(--organization-details-color-primary-light);
        }

        .tab-icon {
          color: var(--organization-details-color-text-primary);
        }

        &::after {
          display: block;
          width: 100%;
          height: 3px;
          content: '';
          position: absolute;
          bottom: 0;
          border-radius: 3px 3px 0px 0px;
          background-color: var(--organization-details-color-primary);
        }
      }
    }
  }
}
