.regulatory-preferences {
  width: 70%;
}
.title {
  font-weight: bold;
  color: var(--black);
}
.description {
  margin-bottom: 0.5rem;
}
.note {
  font-style: italic;
  // color: var(--black-300);
}
.preferences {
  margin-top: 2rem;
}
