.regulatory__wrapper {
  width: 70%;
}

.regulatory__label {
  width: 8em;
}

.regulatory__select {
  width: 8em;
}

.regulatory__pref {
  width: 15em;
  position: relative;
}

.remove-button {
  font-size: 0.8em;
  padding: 0.3em 0.4em;;
  line-height: 0.5;
  height: auto;
  color: #9ea4ad;
  border-color: #9ea4ad;
  background: white;
  margin-left: auto;
  border-radius: 1em;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-35%) translateX(35%);
}
.remove-button:hover, .remove-button:active, .remove-button:focus {
  color: white;
  background: #FE4D3F;
  border-color: #FE4D3F;
}
