.regulatory__wrapper {
  width: 70%;
}

.regulatory__label {
  width: 8em;
}

.regulatory__select {
  width: 8em;
}

.tag-inherited {
  padding: 0.1em 0.5em;
  border-radius: 0.2em;
  border: 1px solid #edf0f4;
  background: #f3f5f8;
  color: #9ea4ad;
  font-size: 0.88em;
  line-height: 1.2;
}

.remove-button {
  font-size: 0.8em;
  padding: 0.3em 0.4em;;
  line-height: 0.5;
  height: auto;
  color: rgba(#FE4D3F, 0.9);
  border-color: rgba(#FE4D3F, 0.5);
}
