<svg
  width='101'
  height='126'
  viewBox='0 0 101 126'
  fill='none'
  xmlns='http://www.w3.org/2000/svg'
  ...attributes
>
  <path
    d='M49.247 98.494C76.4453 98.494 98.494 76.4453 98.494 49.247C98.494 22.0486 76.4453 0 49.247 0C22.0486 0 0 22.0486 0 49.247C0 76.4453 22.0486 98.494 49.247 98.494Z'
    fill='#F5F5F5'
  />
  <g filter='url(#filter0_d_5952_36441)'>
    <g filter='url(#filter1_d_5952_36441)'>
      <path
        d='M78.7188 26H22.2812C20.4691 26 19 27.5767 19 29.5217V103.478C19 105.423 20.4691 107 22.2812 107H78.7188C80.5309 107 82 105.423 82 103.478V29.5217C82 27.5767 80.5309 26 78.7188 26Z'
        fill='white'
      />
      <path
        d='M22.2812 26.5H78.7188C80.222 26.5 81.4999 27.8189 81.5 29.5215V103.479C81.4999 105.181 80.222 106.5 78.7188 106.5H22.2812C20.778 106.5 19.5001 105.181 19.5 103.479V29.5215C19.5001 27.8189 20.778 26.5 22.2812 26.5Z'
        stroke='#D9D9D9'
      />
    </g>
    <mask id='path-4-inside-1_5952_36441' fill='white'>
      <path
        d='M36 51C36 42.7157 42.7157 36 51 36C59.2843 36 66 42.7157 66 51C66 59.2843 59.2843 66 51 66C42.7157 66 36 59.2843 36 51Z'
      />
    </mask>
    <g
      clip-path='url(#paint0_angular_5952_36441_clip_path)'
      data-figma-skip-parse='true'
      mask='url(#path-4-inside-1_5952_36441)'
    ><g
        transform='matrix(-1.31134e-09 0.015 -0.015 -1.31134e-09 51 51)'
      ><foreignObject
          x='-1133.33'
          y='-1133.33'
          width='2266.67'
          height='2266.67'
        ><div
            xmlns='http://www.w3.org/1999/xhtml'
            {{style
              background='conic-gradient(from 90deg,rgba(255, 255, 255, 1) 0deg,rgba(255, 58, 68, 1) 360deg)'
              height='100%'
              width='100%'
              opacity='1'
            }}
          ></div></foreignObject></g></g><path
      d='M36 51L38 51C38 43.8203 43.8203 38 51 38L51 36L51 34C41.6112 34 34 41.6112 34 51L36 51ZM51 36L51 38C58.1797 38 64 43.8203 64 51L66 51L68 51C68 41.6112 60.3888 34 51 34L51 36ZM66 51L64 51C64 58.1797 58.1797 64 51 64L51 66L51 68C60.3888 68 68 60.3888 68 51L66 51ZM51 66L51 64C43.8203 64 38 58.1797 38 51L36 51L34 51C34 60.3888 41.6112 68 51 68L51 66Z'
      data-figma-gradient-fill='{&#34;type&#34;:&#34;GRADIENT_ANGULAR&#34;,&#34;stops&#34;:[{&#34;color&#34;:{&#34;r&#34;:1.0,&#34;g&#34;:1.0,&#34;b&#34;:1.0,&#34;a&#34;:1.0},&#34;position&#34;:0.0},{&#34;color&#34;:{&#34;r&#34;:1.0,&#34;g&#34;:0.22745098173618317,&#34;b&#34;:0.26666668057441711,&#34;a&#34;:1.0},&#34;position&#34;:1.0}],&#34;stopsVar&#34;:[{&#34;color&#34;:{&#34;r&#34;:1.0,&#34;g&#34;:1.0,&#34;b&#34;:1.0,&#34;a&#34;:1.0},&#34;position&#34;:0.0},{&#34;color&#34;:{&#34;r&#34;:1.0,&#34;g&#34;:0.22745098173618317,&#34;b&#34;:0.26666668057441711,&#34;a&#34;:1.0},&#34;position&#34;:1.0}],&#34;transform&#34;:{&#34;m00&#34;:-2.6226830414088909e-06,&#34;m01&#34;:-30.000001907348633,&#34;m02&#34;:66.0,&#34;m10&#34;:29.999998092651367,&#34;m11&#34;:-2.6226834961562417e-06,&#34;m12&#34;:36.0},&#34;opacity&#34;:1.0,&#34;blendMode&#34;:&#34;NORMAL&#34;,&#34;visible&#34;:true}'
      mask='url(#path-4-inside-1_5952_36441)'
    />
  </g>
  <path
    d='M59.042 84.084H41.9698C40.8818 84.084 39.9999 84.9659 39.9999 86.0539C39.9999 87.1418 40.8818 88.0237 41.9698 88.0237H59.042C60.13 88.0237 61.0119 87.1418 61.0119 86.0539C61.0119 84.9659 60.13 84.084 59.042 84.084Z'
    fill='#D9D9D9'
  />
  <path
    d='M64.8613 92.627H35.9698C34.8818 92.627 33.9999 93.5089 33.9999 94.5968C33.9999 95.6848 34.8818 96.5667 35.9698 96.5667H64.8613C65.9493 96.5667 66.8312 95.6848 66.8312 94.5968C66.8312 93.5089 65.9493 92.627 64.8613 92.627Z'
    fill='#F5F5F5'
  />
  <defs>
    <filter
      id='filter0_d_5952_36441'
      x='13'
      y='17'
      width='75'
      height='93'
      filterUnits='userSpaceOnUse'
      color-interpolation-filters='sRGB'
    >
      <feFlood flood-opacity='0' result='BackgroundImageFix' />
      <feColorMatrix
        in='SourceAlpha'
        type='matrix'
        values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'
        result='hardAlpha'
      />
      <feOffset dy='-3' />
      <feGaussianBlur stdDeviation='3' />
      <feColorMatrix
        type='matrix'
        values='0 0 0 0 0.788235 0 0 0 0 0.803922 0 0 0 0 0.85098 0 0 0 0.349 0'
      />
      <feBlend
        mode='normal'
        in2='BackgroundImageFix'
        result='effect1_dropShadow_5952_36441'
      />
      <feBlend
        mode='normal'
        in='SourceGraphic'
        in2='effect1_dropShadow_5952_36441'
        result='shape'
      />
    </filter>
    <filter
      id='filter1_d_5952_36441'
      x='8'
      y='15'
      width='93'
      height='111'
      filterUnits='userSpaceOnUse'
      color-interpolation-filters='sRGB'
    >
      <feFlood flood-opacity='0' result='BackgroundImageFix' />
      <feColorMatrix
        in='SourceAlpha'
        type='matrix'
        values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'
        result='hardAlpha'
      />
      <feOffset dx='4' dy='4' />
      <feGaussianBlur stdDeviation='7.5' />
      <feColorMatrix
        type='matrix'
        values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.03 0'
      />
      <feBlend
        mode='normal'
        in2='BackgroundImageFix'
        result='effect1_dropShadow_5952_36441'
      />
      <feBlend
        mode='normal'
        in='SourceGraphic'
        in2='effect1_dropShadow_5952_36441'
        result='shape'
      />
    </filter>
    <clipPath id='paint0_angular_5952_36441_clip_path'><path
        d='M36 51L38 51C38 43.8203 43.8203 38 51 38L51 36L51 34C41.6112 34 34 41.6112 34 51L36 51ZM51 36L51 38C58.1797 38 64 43.8203 64 51L66 51L68 51C68 41.6112 60.3888 34 51 34L51 36ZM66 51L64 51C64 58.1797 58.1797 64 51 64L51 66L51 68C60.3888 68 68 60.3888 68 51L66 51ZM51 66L51 64C43.8203 64 38 58.1797 38 51L36 51L34 51C34 60.3888 41.6112 68 51 68L51 66Z'
        mask='url(#path-4-inside-1_5952_36441)'
      /></clipPath></defs>
</svg>