<div class='columns' data-test-mstg={{@mstg.id}}>
  <div class='column is-one-third' data-test-mstg-code>{{@mstg.code}}</div>
  <div class='column black-text wrap-text' data-test-mstg-title>
    {{@mstg.title}}
  </div>
</div>