.platform {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.client-upload-card {
  display: grid;
  border: 1px solid #efefef;
  box-shadow: rgb(136, 136, 136) 0px 0px 5px -2px;
  border-radius: 5px;

  .card-header {
    display: grid;
    padding: 0.8rem;
    border-bottom: 1px solid #efefef;
    grid-template-columns: 3rem 1fr 2rem;
    column-gap: 0.7rem;

    .app-icon {
      width: 3rem;
      height: 3rem;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #efefef;
      border-radius: 0.3rem;
    }

    .header-info {
      display: grid;

      .name {
        font-weight: bold;
        font-size: 13px;
      }

      .pkg {
        font-size: 13px;
        text-transform: lowercase;
      }
    }
  }

  .card-body {
    padding: 0.8rem;
    display: grid;
    row-gap: 5px;

    .upload-info {
      font-size: 12px;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: left;
      column-gap: 5px;
      align-items: center;

      .icon {
        font-size: 18px;
      }
    }
  }
}
