.subtitle {
  font-weight: bold;
}
.description {
  font-size: 0.93rem;
  padding-top: 0.5rem;
}
.preferences {
  padding-top: 1.2rem;
}
.preference {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.checkbox {
  display: inline;
}
.label {
  margin-left: 0.5rem;
}
