.title {
  color: var(--organization-setting-title-color);
  font-size: 1.1rem;
  font-weight: bold;
}
.subtitle {
  font-weight: 600;
  font-size: 1rem;
  padding-top: 0.15em;
  color: var(--organization-setting-subtitle-color);
}

.description {
  font-size: 0.93rem;
  padding-top: 0.5rem;
  color: var(--organization-setting-desc-color);
}
.preferences {
  padding-top: 1.2rem;
}
.preference {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: default;
}
.checkbox {
  display: inline;
}
.label {
  margin-left: 0.5rem;
  text-decoration: none;
}
