.preferences {
  margin-top: 1.2rem;
  display: flex;
  flex-flow: column;
  row-gap: 0.8em;
  position: relative;
}

.abbr-label {
  text-decoration: none;
}

.visible {
  visibility: visible;
}

.in-visible {
  visibility: hidden;
}

.loading-spinner {
  width: 70px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
