.integration {
  margin-top: 1.5em;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 0.3em;
  display: flex;
  align-items: stretch;
  flex-flow: column;
}
.integration-logo {
  padding: 1em;
}
.integration-logo-container {
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.integration-account{
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.integration-account-container{
  width: 100%;
  display: flex;
  align-items: center;
}
.display-flex{
  display: flex;
}
.bottom-content{
  display: flex;
  background-color: #f7f7f7;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}
.display-flex.delete-content{
  justify-content: center;
  width: 10%;
  align-items: center;
  cursor: pointer;
  color: red
}
.b-e2e2e2{
  background: #e2e2e2;
}

.integration.upload-area{
  padding: 1.5em;
  align-items: center;
  background-color: #ebebeb;
}
.browse{
  height: 100px;
  align-items: center;
}
.textarea-m-h-250{
  height: 250px;
}
.box-shadow{
  box-shadow: 0 0 6px #ccc;
}
.border-bottom{
  border-bottom: 1px solid #f5f5f5;
}