.generate-btn{
  margin-left: 1em;
}
.date-btn{
  border-radius: 0;
  border: none;
}
.date-split{
  margin-top: 1.5rem;
  display: inline-block;
}
.mid-aligned{
  vertical-align: middle;
  display: inline-block;
  padding: 5px;
}
.date-btn,
.date-split,
.mid-aligned{
  cursor: pointer;
  user-select: none;
}
