<FreestyleSection @name='Stack'>
  <FreestyleUsage @slug='ak-stack-basic' @title='Basic'>
    <AkStack
      @spacing='0'
      @direction='row'
      @alignItems='center'
      @justifyContent='space-between'
      @width='fit-content'
      class='p-3'
      {{style height='fit-content' border='1px solid #ff4d3f'}}
    >
      <span class='p-2' {{style border='1px solid #eee'}}>Item - 1</span>
      <span class='p-2' {{style border='1px solid #eee'}}>Item - 2</span>
      <span class='p-2' {{style border='1px solid #eee'}}>Item - 3</span>
    </AkStack>
  </FreestyleUsage>
</FreestyleSection>
