.analysis-section {
  width: 100%;
  background-color: var(
    --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-background-main
  );

  &.analysis-overridded-passed {
    background-color: var(
      --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-marked-passed-background-color
    );

    .analysis-content-title {
      background-color: var(
        --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-marked-passed-background-color
      );
    }

    .analysis-static-content pre code,
    .vulnerability-finding-container {
      background-color: var(
        --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-marked-passed-code-background-color
      );
      border: 1px solid
        var(
          --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-border-color
        );
    }
  }

  .analysis-content-title {
    position: sticky;
    top: calc(172px + 1.5em);
    z-index: 1;
    padding: 1em;
    border: 1px solid
      var(
        --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-border-color
      );
    background-color: var(
      --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-background-main
    );

    h6 {
      margin-bottom: 0 !important;
    }
  }

  .analysis-content-container {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: var(
      --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-border-color
    );
  }

  .analysis-content-value {
    max-width: 460px;
  }

  .vulnerability-finding-container {
    max-width: 600px;
    max-height: 300px;
    overflow: auto;
    text-overflow: clip;
    margin: 1em 0;
    background-color: var(
      --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-code-background-color
    );
    border-radius: var(
      --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-border-radius
    );

    .vulnerability-finding-description {
      background-color: unset;
      color: var(
        --file-details-vulnerability-analysis-details-findings-custom-vulnerabilities-color-primary
      );
      white-space: pre-line;
      width: max-content;
      line-height: normal;
      padding: 0.75em;
    }
  }
}
