.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--neutral-grey-700);
  padding-top: 1.5rem;
  margin-bottom: 0.6rem;
}

.table {
  border: 1px solid var(--border-color-1);
  border-radius: 0.3rem;
  margin-top: 0.7rem;
}
.table-header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  background-color: var(--neutral-grey-100);
  grid-template-columns: 1fr 20% 15% 15% 3.6rem;
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 30% 10rem 10rem 3.6rem;
  }
}
.table-row {
  border-top: 1px solid var(--border-color-1);
}

.pagination {
  margin: 1rem -3px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5rem;
}
