.columns {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
  
    &.is-full {
      flex: none;
      width: 100%;
    }
  
    &.is-half {
      flex: none;
      width: 50%;
    }
  
    &.is-one-third {
      flex: none;
      width: 33.3333%;
    }
  
    &.is-one-quarter {
      flex: none;
      width: 25%;
    }
  
    &.is-one-sixth {
      flex: none;
      width: 16.6666%;
    }
}

.pagination {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    .action {
        margin: 0px 3px;
        border-radius: 5px;

        &:hover,
        &:focus {
          color:  var(--primary-contrast-text);
          border: 1px solid var(--primary-main);
          background-color: var(--primary-main);
          box-shadow: unset;
        }
    }
    
    .pagination-list {
        .page.is-primary,
        .page.is-default:hover {
          color:  var(--primary-contrast-text);
          border: 1px solid var(--primary-main);
          background-color: var(--primary-main);
          box-shadow: unset;
        }
        .page {
          min-width: fit-content;
          border-radius: 5px;
        }
    }

    button {
      margin: 0px 3px;
    }
  
    span {
      display: block;
    }
  
    li {
      margin: 0 2px;
    }
  
    ul {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }
}
  