.after-options-container {
  padding: 0.7142em 1.1429em !important;
  border-top: 1px solid var(--neutral-grey-300) !important;

  .unselect-all-button {
    background-color: var(--neutral-grey-100) !important;
  }
}
