<div class='columns' data-test-asvs={{@asvs.id}}>
  <div class='column is-one-third' data-test-asvs-code>{{@asvs.code}}</div>
  <div class='column black-text wrap-text' data-test-asvs-title>
    {{@asvs.title}}
  </div>
</div>