.requested-icon {
  padding: 0.4em;
  color: var(--storeknox-discover-results-table-action-requested-icon-color);
  background-color: var(
    --storeknox-discover-results-table-action-requested-icon-bgcolor
  );
  border-radius: var(--storeknox-discover-results-table-action-border-radius);
}

.already-exist-icon {
  padding: 0.4em;
  color: var(
    --storeknox-discover-results-table-action-already-exist-icon-color
  );
  background-color: var(
    --storeknox-discover-results-table-action-already-exist-icon-bgcolor
  );
  border-radius: var(--storeknox-discover-results-table-action-border-radius);
}

.tooltip-content {
  width: 12.85em;
  padding: 0.5em;
  box-sizing: border-box;
  white-space: normal;
}
