.api-scan-status-card {
  width: 360px;
  background-color: var(
    --file-details-api-scan-progress-status-card-background
  );
  box-shadow: var(--file-details-api-scan-progress-status-card-box-shadow);
  border-radius: var(--file-details-api-scan-progress-status-border-radius);
  box-sizing: border-box;

  :global(.ak-loader-linear-indicator) {
    background-color: var(
      --file-details-api-scan-progress-status-indicator-background
    );
  }

  .status-helper-text strong {
    color: var(--file-details-api-scan-progress-status-text-primary);
    font-weight: var(
      --file-details-api-scan-progress-status-font-weight-medium
    );
  }
}
