.file-overview-file-details {
  padding: 0.6429em 1.1429em;
  border-bottom: 1px solid var(--file-overview-border-color-light);
}

.file-overview-versions-tags {
  padding: 1.1429em;
  padding-top: 0.5714em;

  .file-version-container {
    padding: 0.5714em 0em;
    border-bottom: 1px solid var(--file-overview-border-color-light);

    .file-version-title {
      min-width: 140px;
    }
  }

  .file-tags-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 0.3571em;
    height: 26px;
    margin-top: 0.9286em;
  }
}

.store-logo-container {
  display: flex;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;

  &:hover {
    border: 1px solid var(--file-overview-store-logo-container-background-color);
  }
}

.appstore-logo-vector {
  height: 16px;
  width: 16px;
}

.file-overview-details {
  padding: 0.57em 1.285em;
}
