.select-width {
  width: 320px;
}

.optional-heading {
  background-color: var(--organization-integrations-splunk-background-neutral);
  padding: 0.5em 1em;
  border-bottom: 1px solid var(--organization-integrations-splunk-border-color);
}
