.table-row {
  display: grid;
  grid-template-columns: 10% 30% 22% 16% 22%;
  align-items: center;
  border-radius: 2px;
  padding: 0.875em 1.0625rem;
  border-bottom: 1px solid var(--neutral-grey-100);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba($black, 0.01);
  }

  .app-name-container,
  .project-status {
    display: flex;
    flex-direction: column;
  }

  .app-name,
  .app-namespace,
  .last-scanned-version,
  .production-version,
  .last-sync-date {
    letter-spacing: -0.4px;
    color: var(--neutral-grey-600);
  }

  .app-namespace,
  .last-scanned-version,
  .production-version {
    color: var(--black);
    margin-bottom: 0.4375em;
  }

  .app-namespace,
  .app-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .production-version {
    display: flex;
    align-items: center;
  }

  .last-sync-date {
    margin-top: 0.4375em;
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  .last-sync-date span {
    font-weight: 800;
    display: flex;
    align-items: center;
  }

  .last-sync-date span i {
    font-size: 14px;
  }

  // Icon styles
  .platform-android {
    color: var(--android);
  }
  .platform-apple {
    color: var(--black);
  }
}

// Warning Icon
.warning-icon {
  color: #d72f2f;
  margin-left: 0.4em;
}
