@mixin tableRowStyle($vertPadding) {
  display: grid;
  grid-template-columns: 12% 1fr 22% 22% 14%;
  align-items: center;
  border-radius: 2px;
  padding: $vertPadding 1.0625rem;
}

.table-row {
  @include tableRowStyle(0.875rem);
  border-bottom: 1px solid var(--neutral-grey-100);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba($black, 0.01);
  }

  .app-name-container,
  .project-status {
    display: flex;
    flex-direction: column;
  }

  .app-name,
  .app-namespace,
  .last-scanned-version,
  .production-version,
  .last-sync-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.4px;
    color: var(--neutral-grey-600);
  }

  .app-namespace,
  .last-scanned-version,
  .production-version {
    color: var(--black);
    margin-bottom: 0.4375em;
  }

  .last-sync-date {
    margin-top: 0.4375em;
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  .last-sync-date span {
    margin-left: 0.5em;
    font-weight: 800;
    display: flex;
    align-items: center;
  }

  .last-sync-date span i {
    font-size: 14px;
  }

  // Icon styles
  .platform-android {
    color: var(--android);
  }
  .platform-apple {
    color: var(--black);
  }
}
