.ak-radio-button {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
  width: max-content;
}

.disabled {
  cursor: not-allowed;

  .radio-input + .label::before {
    border-color: var(--radio-button-border-color__disabled);
  }

  .radio-input:checked + .label::before {
    background: radial-gradient(
      var(--radio-button-color__disabled) 0%,
      var(--radio-button-color__disabled) 40%,
      transparent 50%,
      transparent
    );
    border-color: var(--radio-button-border-color__disabled);
  }
}

.radio-input {
  display: none;
}

.radio-input + .label::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3em;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--radio-button-border-color__unchecked);
}

.radio-input:checked + .label::before {
  background: radial-gradient(
    var(--radio-button-color__checked) 0%,
    var(--radio-button-color__checked) 40%,
    transparent 50%,
    transparent
  );
  border-color: var(--radio-button-border-color__checked);
}

.label {
  display: block;
  color: var(--radio-button-label-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
