.scan-window-type-select {
  width: 180px;

  :global(.ember-power-select-trigger) {
    height: 35px;
  }
}

.scan-window-info-icon {
  color: var(--neutral-grey-400);
  font-size: 1em !important;
  cursor: pointer;
}

.tooltip-content-container {
  width: 320px;
  padding: 0.5em;
  box-sizing: border-box;
  white-space: normal;
}
