.all-uploads-container {
  width: 100%;
}
.title {
  padding-top: 2rem;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.client-uploads-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
}
.no-uploads {
  font-size: 14px;
  margin: 12px;
  justify-content: center;
}
