.modal-header {
  display: grid;
  grid-template-columns: 1fr 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: lighten($modal-header, 5%);

  h3.header-title {
    margin: 0;
    color: $white;
  }

  .close-icon {
    border-radius: 50%;
    background-color: rgba($white, 0.7);
    height: 25px;
    width: 25px;
    text-align: center;

    &:hover {
      background-color: $white;
    }

    i {
      cursor: pointer;
      line-height: 25px;
    }
  }
}

.modal-body {
  min-width: 500px;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
}
