.primary-outlined {
  background-color: var(--white);
  color: var(--primary);
  box-shadow: inset 0 0 0 1px var(--primary);
  composes: btn from 'irene/components/ak-button/index.scss';

  &:disabled {
    box-shadow: inset 0 0 0 1px #c4c4c4;
    color: #c4c4c4;
    background-color: var(--white);
  }

  &:hover {
    color: var(--primary);
    box-shadow: inset 0 0 0 1.5px var(--primary);
  }
}
