<button
  type="button"
  disabled={{@isDisabled}}
  local-class="primary-outlined"
  ...attributes
  data-test-btn-primary-outlined
  {{on 'click' @onClick}}
>
  {{#if @icon}}
    <MdIcon @name={{@icon}} data-test-btn-primary-outlined-icon />
  {{/if}}
  {{@text}}
</button>
