.finding-detail-card {
  background-color: var(--storeknox-fake-apps-finding-detail-card-bg-color);
  border: 1px solid var(--storeknox-fake-apps-finding-detail-card-border-color);
  border-radius: var(--storeknox-fake-apps-finding-detail-card-border-radius);
  padding: 1.5em;
  width: 100%;
}

.detail-label {
  min-width: 170px;
}

.app-logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
