.dast-automation-settings-root {
  border: 1px solid var(--project-settings-dast-automation-root-border-color);
  border-top: 0em;
  background-color: var(
    --project-settings-dast-automation-root-background-color
  );
}
