.organization-dashboard-root {
  width: 100%;
  display: grid;
  grid-template-areas:
    "sidenav topnav"
    "sidenav main";
  height: 100vh;
  grid-template-rows: 4em auto;

  &.expanded, &.collapsed {
    transition: grid-template-columns 0.2s ease-in-out;
  }

  &.collapsed {
    grid-template-columns: 56px auto;
  }

  &.expanded {
    grid-template-columns: 250px auto;
  }

  .dashboard-main {
    grid-area: main;
    max-height: 100vh;
    padding: 0.5em;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .dashboard-header {
    grid-area: topnav;
  }

  .dashboard-sidenav {
    grid-area: sidenav;
  }
}
