.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.overview-plan {
  padding-bottom: 0.5rem;

  .type {
    border-radius: 0.3rem;
    padding: 0.35rem 1.2rem;
    color: $white;
    text-transform: capitalize;
    line-height: 1.5;
    font-weight: bold;

    &.per-scan {
      background-color: #0362b1;
    }

    &.per-app {
      background-color: #66bb6a;
    }
  }
}

.overview-owner {
  padding-bottom: 1rem;
}

.overview-status-container {
  display: flex;
}

.overview-status {
  background-color: #F3F5F8;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
}
