.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.overview-title {
  color: #3b3f49;
}

.overview-plan {
  padding-bottom: 0.5rem;

  .type {
    text-transform: capitalize;
    line-height: 1.5;
    font-weight: bold;
  }
}

.overview-owner {
  padding-bottom: 1rem;
}

.overview-status-container {
  display: flex;
}

.overview-status {
  margin: 0 0.5rem;
  border: 1px solid #edf0f4;
  background: #f3f5f8;
  padding: 0.3rem 0.8em;
  border-radius: 0.2em;
}

.status-count {
  font-weight: bold;
  padding-right: 0.2rem;
}

.payment-invalid {
  color: #FE4D3F;
}
