.platform {
  padding-left: 1.5em;
  color: var(--black-500);
}

.platform-android {
  color: var(--android);
}
.platform-apple {
  color: var(--ios);
}

.version {
  display: grid;
  align-items: center;
  font-size: 0.95em;
}
