.platform {
  padding-left: 1.5em;
  color: var(--black-500);
}

.version {
  display: grid;
  align-items: center;
  font-size: 0.95em;
}

.view-files-button {
  height: 32px;
  padding-left: 0.7143em;
  padding-right: 0.7143em;
  border: 1px solid var(--primary-main);
}
