/* Pagination Component */
.ak-pagination {
  background: var(--neutral-grey-100);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.9375em;
  margin-top: 0.625em;
  width: 100%;

  .ak-pagination-divider {
    width: 1px;
    height: 100%;
    min-height: 32px;
    background: rgba(66, 70, 81, 0.2);
  }

  .ak-pagination-info {
    display: flex;
    align-items: center;

    .ak-pagination-divider {
      margin-left: 0.875rem;
      margin-right: 0.6875rem;
    }
  }

  .ak-pagination-info p {
    margin-right: 0.625em;
    font-weight: 600;
  }

  .ak-pagination-btns {
    display: flex;
    align-self: flex-end;
    height: 30px;
    gap: 11px;

    .ak-pagination-divider {
      margin-right: 0.5625rem;
    }
  }
}
