<div data-test-pagination-container>
  {{yield
    (hash
      currentPageResults=this.currentPageResults
      onItemPerPageChange=this.onItemPerPageChange
      itemPerPageOptions=this.itemPerPageOptions
      selectedOption=this.selectedOption
      totalItems=@totalItems
      startItemIdx=this.startItemIdx
      endItemIdx=this.endItemIdx
      disablePrev=this.disablePrev
      prevAction=this.prevAction
      disableNext=this.disableNext
      nextAction=this.nextAction
    )
  }}
</div>