<div
  local-class='platform platform-{{@amApp.project.platformIconClass}}'
  data-test-amTableRow-platform={{@amApp.project.platformIconClass}}
  data-test-amTable-rowItem
>
  <AkIcon @iconName='{{@amApp.project.platformIconClass}}' />
</div>