<div
  local-class='platform platform-{{@amApp.project.platformIconClass}}'
  data-test-am-table-row-platform={{@amApp.project.platformIconClass}}
  data-test-am-table-row-item
>
  {{fa-icon @amApp.project.platformIconClass}}
</div>