<div local-class='severity-level-root'>
  <div local-class='severity-level-header'>
    <AkTypography data-test-fileDetailSeverityLevel-title @variant='subtitle1'>
      {{t 'severityLevel'}}
    </AkTypography>
  </div>

  <AkStack class='p-3' @spacing='5' @alignItems='center' @flexWrap='wrap'>
    <FileChart
      {{style maxWidth='350px'}}
      @file={{@file}}
      @legendMaxWidth={{350}}
      @size='large'
    />
  </AkStack>
</div>