.severity-level-root {
  width: 100%;
  border: 1px solid var(--file-details-severity-level-border-color);
  box-sizing: border-box;

  .severity-level-header {
    padding: 0.75em 1.5em;
    border-bottom: 1px solid var(--file-details-severity-level-border-color);
  }
}

.severity-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.severity-critical {
  background-color: var(--file-details-severity-level-color-critical);
}

.severity-high {
  background-color: var(--file-details-severity-level-color-high);
}

.severity-medium {
  background-color: var(--file-details-severity-level-color-medium);
}

.severity-low {
  background-color: var(--file-details-severity-level-color-low);
}

.severity-passed {
  background-color: var(--file-details-severity-level-color-passed);
}

.severity-none {
  background-color: var(--file-details-severity-level-color-none);
}
