.invalid-file-or-ds-graph-root {
  position: relative;
  overflow: hidden;
  background-color: var(
    --file-details-dynamic-scan-navigation-graph-invalid-file-or-ds-graph-background-main
  );

  background-image: radial-gradient(
    circle,
    var(
        --file-details-dynamic-scan-navigation-graph-invalid-file-or-ds-graph-dot-color
      )
      1px,
    transparent 1.5px
  );

  background-size: 24px 24px;
}
