.file-tags-container {
  overflow-x: auto;
  min-height: 26px;
}

.card-chips {
  background-color: var(--project-list-tags-background-grey);
  border-radius: 4px;
}

.text-nowrap {
  white-space: nowrap;
}
