.fake-apps-item-card-root {
  width: 100%;
  box-shadow: var(--storeknox-fake-apps-list-item-card-skeleton-box-shadow);
  cursor: pointer;

  .app-info-logo {
    border-radius: 100%;
    object-fit: contain;
    width: 58px;
    height: 58px;
    border: 1px solid
      var(--storeknox-fake-apps-list-item-card-skeleton-app-logo-border-color);
  }

  .app-info-container {
    padding: 1.1429em 1.7143em;
  }

  .store-logo-container {
    min-height: 32px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid
      var(--storeknox-fake-apps-list-item-card-skeleton-store-logo-border-color);
  }

  .divider {
    margin: 1.7143em 0;
  }

  .last-monitoring-date-container {
    padding-top: 1.4286em;
    padding-bottom: 2em;
  }
}
