.loading-container {
  width: 100%;
  background: var(--project-settings-loading-container-background);
  border: 1px solid var(--project-settings-loading-container-border);
  border-radius: var(--project-settings-loading-container-border-radius);
  padding: 2em;
}
