.upload-button-stack {
  box-shadow: var(--app-upload-via-link-button-stack-shadow);
}

.link-icon {
  color: var(--app-upload-via-link-button-color);
}

.upload-modal-container {
  width: 450px;
  padding: 1.2em;
}

.valid-url-format-list {
  list-style: disc;
  padding-left: 1em;
  color: var(--app-upload-via-link-url-format-bullet-color);
}
