.privacy-module-app-details-header {
  padding-top: 0.5em;
  position: sticky;
  top: -0.5em;
  z-index: 100;
  background-color: var(--privacy-module-app-details-header-bg-color);

  &.note-available {
    top: 34px;
  }
}

.warning-error-wrapper {
  background-color: var(--privacy-module-app-details-header-warning-bg-color);
  border: 1px solid var(--privacy-module-app-details-header-warning-border);

  .warning-icon-wrapper {
    background-color: var(--privacy-module-app-details-header-warning-icon-bg);
  }
}

.beta-chip {
  margin-left: 0.7em;
  height: 20px;

  &.beta-chip-inactive {
    background-color: var(--privacy-module-tabs-neutral-background);
    color: var(--privacy-module-tabs-text-color-secondary);
  }

  &.beta-chip-active {
    border-color: var(--privacy-module-tabs-beta-tag-bg);
    background-color: var(--privacy-module-tabs-beta-tag-bg);
    color: var(--privacy-module-tabs-beta-tag-color) !important;
  }
}
