.reorder-icon {
  cursor: grab;
  color: var(--neutral-grey-300) !important;
}

.selection-count {
  padding: 0.5em;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color-1);
  background-color: var(--neutral-grey-100);
}

.column-item {
  padding: 8px 0;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.column-item.dragging {
  opacity: 0.5;
  background-color: var(--background-main);
}

.column-item.drag-over {
  background-color: var(--background-main);
  border: 1px dashed var(--primary-main);
}
