<div>
  <div>
    {{t
      'notificationModule.messages.nf-nsapprvd2'
      htmlSafe=true
      platform_display=@context.platform_display
      namespace_value=@context.namespace_value
      namespace_created_on=@context.namespace_created_on
      requester_username=@context.requester_username
      moderator_username=@context.moderator_username
    }}
  </div>
  <div>
    <div class='pt-1'>
      <AkLink
        @color='primary'
        @route='authenticated.dashboard.organization.namespaces'
        @underline='always'
        @title='{{t "notificationModule.viewNamespaces"}}'
      >
        <:default>
          {{t 'notificationModule.viewNamespaces'}}
        </:default>
      </AkLink>
    </div>
  </div>
</div>