<AkStack @direction='column' @spacing='2.5' @width='full'>
  <AkTypography
    @variant='h6'
    @fontWeight='medium'
    data-test-securityAnalysisDetails-newHeaderText
  >
    New Finding?
  </AkTypography>

  <AkStack @spacing='2.5' @width='7/12'>
    <Textarea
      @value={{this.findingTitle}}
      autocomplete='off'
      autocorrect='off'
      autocapitalize='off'
      spellcheck='false'
      rows='3'
      cols='10'
      placeholder='Title'
      class='textarea-input'
      id='add-finding-form-title'
      data-test-securityAnalysisDetails-newFindingTitleInput
    />

    <Textarea
      @value={{this.findingDescription}}
      autocomplete='off'
      autocorrect='off'
      autocapitalize='off'
      spellcheck='false'
      rows='3'
      cols='30'
      placeholder='Description'
      class='textarea-input'
      id='add-finding-form-description'
      data-test-securityAnalysisDetails-newFindingDescriptionInput
    />
  </AkStack>

  <div local-class='note'>
    <AkTypography @variant='subtitle2'>
      API request/response -
    </AkTypography>

    <AkTypography @variant='body2' class='mt-1'>
      When documenting API request/response details in your vulnerability
      findings, please ensure the following formatting rules are applied:
      <br />
      New Lines: Use \n to indicate a new line within the same block of
      information.
      <br />
      New Blocks: Use \n\n or \n\n\n to separate different blocks of
      information, such as separating the request section from the response
      section.
    </AkTypography>
  </div>

  <AkButton
    @variant='filled'
    {{on 'click' this.addFinding}}
    data-test-securityAnalysisDetails-newFindingAddBtn
  >
    Add Finding
  </AkButton>
</AkStack>