.scan-coverage-status-container {
  margin-top: 0.7857em;
  padding: 4.5714em 2.8571em 5.5em 2.8571em;
  box-shadow: var(
    --file-details-dynamic-scan-results-scan-coverage-status-box-shadow
  );
}
