<FreestyleSection @name='Divider'>
  <FreestyleUsage @slug='ak-divider-default' @title='Default'>
    <AkTypography @color='textSecondary' @gutterBottom={{true}}>Experiment with me</AkTypography>
    <div {{style backgroundColor='#f5f5f5'}} class='flex-row flex-align-center flex-justify-center p-3 w-full m-3'>
      <div {{style backgroundColor='#ffffff'}} class='w-6/12'>
        <AkList as |akl|>
          <akl.listItem as |li|>
            <li.leftIcon><AkIcon @iconName='folder' /></li.leftIcon>
            <li.text @primaryText='Projects' />
          </akl.listItem>
          <AkDivider @tag='li' @variant='fullWidth' @color='light' />
          <akl.listItem as |li|>
            <li.leftIcon><AkIcon @iconName='inventory-2' /></li.leftIcon>
            <li.text @primaryText='Store Monitoring' />
          </akl.listItem>
          <AkDivider @tag='li' @variant='fullWidth' @color='light' />
          <akl.listItem as |li|>
            <li.leftIcon><AkIcon @iconName='graphic-eq' /></li.leftIcon>
            <li.text @primaryText='Analytics' />
          </akl.listItem>
        </AkList>
      </div>
    </div>
  </FreestyleUsage>

  <FreestyleUsage @slug='ak-divider-vertical' @title='Vertical'>
    <AkTypography @color='textSecondary' @gutterBottom={{true}}>Experiment with me</AkTypography>
    <div class='flex-row flex-align-center flex-justify-space-around p-3 w-full m-3'>
      <AkTypography @color='textSecondary'>A</AkTypography>
      <AkDivider @height='200px' @width='1px' @color='dark' @direction='vertical' @variant='fullWidth' />
      <AkTypography @color='textSecondary'>B</AkTypography>
    </div>
  </FreestyleUsage>
</FreestyleSection>
