.subnav {
  background-color: #ebedf1;
  margin: 0 -10px;
  padding: 0.4rem 1.5rem 0;
  border-bottom: 1px solid #dee2ea;
}
.subnav-link {
  padding: 0.45rem 1.2rem 0.5rem;
  margin-right: 0.1rem;
  display: inline-block;
  color: inherit;
  margin-bottom: -1px;
  border-width: 1px;
  border-style: solid;
  border-color: #dee2ea;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: lighten(#ebedf1, 2%);
  &.active {
    background-color: white;
    color: $primary-color;
    border-color: #dee2ea #dee2ea white #dee2ea;
  }
}
