.section-header {
  width: 100%;
  padding-top: 0.7857em;
  padding-bottom: 0.7857em;
  border: 1px solid var(--file-details-dynamic-scan-drawer-border-color);
  border-left: 0px;
  border-right: 0px;
  background-color: var(--file-details-dynamic-scan-drawer-background-light);
}
