.file-compare-header-project-overview {
  background-color: var(--file-compare-skeleton-loader-background-color);
  border: 1px solid var(--file-compare-skeleton-loader-border-color);
  padding: 1em 1.5em;
}

.file-compare-header-info {
  padding: 1.4286em;
  border: 1px solid var(--file-compare-skeleton-loader-border-color);
  border-top: none;
  box-shadow: var(--file-compare-skeleton-loader-box-shadow);
  background-color: var(--file-compare-skeleton-loader-background-color);
}

.file-compare-tabs {
  margin-top: 1.4286em;
  background: var(--file-compare-skeleton-loader-background-color);
}
