.side-menu {
  width: 16.67%;
  z-index: 13;
  box-shadow: none;
  flex: none; // componesate columns styles

  .side-menu-fixed {
    padding-top: 1em;
    box-sizing: border-box;
    position: fixed;
    width: 16.67%;
    height: 100%;
    top: 0;
    background-color: var(--org-side-menu-bg-color);
    box-shadow: 1px 0px 8px -1px rgba(0, 0, 0, 0.3);
  }

  .app-logo {
    margin-top: 1em;

    img {
      max-width: 56%;
      max-height: 9em;
      margin: auto;
    }
  }

  .menu-item-link {
    padding: 0.7em 1em;

    &:hover,
    &:focus {
      background-color: var(--org-side-menu-item-hover-background);
    }

    &.active {
      position: relative;
      background-color: var(--org-side-menu-item-active-background);

      &::before {
        content: '';
        display: block;
        width: 2px;
        height: 100%;
        background-color: var(--org-side-menu-item-active-border-color);
        position: absolute;
        left: 0;
        top: 0;
      }

      .menu-item-text {
        font-weight: var(--org-side-menu-font-weight-medium);
      }

      .menu-item-badge {
        height: 18px !important;
        background-color: var(--org-side-menu-item-active-badge-background);

        span {
          color: var(--org-side-menu-item-active-badge-text-color);
          font-weight: var(--org-side-menu-font-weight-medium);
          opacity: unset;
        }
      }
    }

    .menu-item-icon,
    .menu-item-text {
      color: var(--org-side-menu-text-color) !important;
    }

    .menu-item-badge {
      height: 18px !important;
      background-color: var(--org-side-menu-item-badge-background);

      span {
        color: var(--org-side-menu-item-badge-text-color);
        font-weight: var(--org-side-menu-font-weight-medium);
        opacity: 0.4;
      }
    }
  }

  .product-version {
    position: absolute;
    right: 1em;
    bottom: 1.5em;
    color: var(--org-side-menu-text-secondary);
    font-size: 0.8rem;

    &.ak-pendo-version-container {
      padding-right: 1.5rem;
    }
  }
}
