.sbom-component-list-table {
  background-color: var(--sbom-scan-details-component-list-background-color);
}

.component-list-container {
  border: 1px solid var(--sbom-scan-details-component-tree-border-color);
  border-radius: var(--sbom-scan-details-component-tree-border-radius);
}
