@mixin tableRowStyle($vertPadding) {
  display: grid;
  grid-template-columns: 12% 1fr 22% 22% 14%;
  align-items: center;
  border-radius: 2px;
  padding: $vertPadding 1.0625rem;
}

.table-row {
  @include tableRowStyle(0.875rem);
  border-bottom: 1px solid #f5f5f5;
}

.app-name-container {
  display: flex;
  flex-direction: column;
}

.app-name,
.app-namespace,
.last-scanned-version,
.production-version {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.4px;
  color: #7b7b7b;
}

.app-namespace,
.last-scanned-version,
.production-version {
  color: var(--black);
  margin-bottom: 7px;
}

// Icon styles
.platform-android {
  color: var(--android);
}
.platform-apple {
  color: var(--black);
}
