.upselling-feature-root {
  box-shadow: var(--dynamicscan-automation-upselling-feature-box-shadow);
  padding: 2.428em 0;
}

.upselling-text {
  color: var(--dynamicscan-automation-upselling-feature-text-color);
}

.upselling-text-width {
  max-width: 500px;
}

.thumbsup-icon {
  height: 72px;
  width: 72px;
}
