.marketplace-card {
  border: 1px solid var(--marketplace-plugin-card-border-color);
  text-align: center;
  display: block;
  box-shadow: 0px 0px 6px #ccc;
  padding: 1em;
  color: var(--marketplace-plugin-card-text-color);

  &:hover {
    box-shadow: 1px 1px 20px #999;
  }
}

.marketplace-modal-content-container {
  a {
    color: var(--marketplace-plugin-card-primary-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

.marketplace-modal-logo {
  height: auto;
  width: 6em;
  margin: auto;

  img {
    height: 100%;
    width: 100%;
  }
}

.marketplace-modal-title {
  font-size: 1.2rem;
  padding-bottom: 1.5em;
}
