.ai-bom-component-drawer-file-box {
  border: 1px solid
    var(--sbom-scan-details-ai-bom-component-drawer-file-box-border-color);
  border-radius: var(
    --sbom-scan-details-ai-bom-component-drawer-file-box-border-radius
  );
  background: var(
    --sbom-scan-details-ai-bom-component-drawer-file-box-background-color
  );
}

.ai-bom-component-drawer-file-value {
  font-family: monospace;
  word-break: break-all;
}

.ai-bom-component-drawer-details-box {
  border: 1px solid
    var(--sbom-scan-details-ai-bom-component-drawer-details-box-border-color);
  border-radius: var(
    --sbom-scan-details-ai-bom-component-drawer-details-box-border-radius
  );
  background: var(
    --sbom-scan-details-ai-bom-component-drawer-details-box-background-color
  );
  overflow: hidden;
}

.ai-bom-component-drawer-section-header {
  background: var(
    --sbom-scan-details-ai-bom-component-drawer-section-header-background-color
  );
}
