.automated-scan-vnc-note {
  background-color: var(--vnc-viewer-note-background);
  color: var(--vnc-viewer-note-text-color);
  padding: 1em;
  margin: 6em 1em;
  border-radius: var(--vnc-viewer-note-border-radius);
}
