$filetag-bg: #f3f5f8;

.filetag {
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  border: 1px solid darken($filetag-bg, 2%);
  background: $filetag-bg;
  padding: 0 0.5em .1em;
  border-radius: 0.2em;
  height: 1.6em;
}
.filetag-btn-delete {
  height: auto;
  padding: 0;
  color: rgba($default, 0.5);
  &:hover, &:active, &:focus {
    border-color: transparent;
    color: #FE4D3F;
  }
}
