.file-report-legacy-cvss-reports-drawer {
  .generate-container {
    width: 100%;
    border: 1px solid var(--file-report-dr-legacy-cvss-reports-border-color);
    border-radius: var(--file-report-dr-legacy-cvss-reports-border-radius);
    padding: 1.5em;
  }
}
