.info-icon {
  font-size: 1rem !important;
  height: 0.857em;
  color: var(
    --storeknox-inventory-pending-review-table-availability-header-info-icon-color
  );
}

.tooltip-content {
  width: 17.857em;
  padding: 0.5em;
  box-sizing: border-box;
  white-space: normal;
}

.availability-filter {
  width: 12.5em;
  background-color: var(
    --storeknox-inventory-pending-review-table-availability-filter-background-color
  );
  box-shadow: var(
    --storeknox-inventory-pending-review-table-availability-filter-box-shadow
  );
  border-radius: var(
    --storeknox-inventory-pending-review-table-availability-filter-border-radius
  );

  .filter-option:hover {
    background-color: var(
      --storeknox-inventory-pending-review-table-availability-filter-option-hover-background-color
    );
  }

  .clear-filter-section {
    background-color: var(
      --storeknox-inventory-pending-review-table-availability-filter-option-clear-filter-background-color
    );
  }
}

.cursor-pointer {
  cursor: pointer;
}
