.jira-integration-subtitle {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

.subsection-divider {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  display: inline-block;
}

.confirm-box-action-btns {
  display: flex;
  column-gap: 1em;
}

.confirm-box-label {
  margin-bottom: 1em;
}
