.client {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
}

.invalid-credits {
  color: $red;
  font-size: 0.8rem;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

.title {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--black-700);
  max-height: 92%;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;

  &.empty-title {
    color: $secondary;
    font-style: italic;
  }
}

.credit-tranfer {
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
}

.transferable-credits {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
  text-align: center;
}

.tranfer-count {
  display: flex;
  align-items: center;
}

.input-count {
  width: 8rem;
  height: 2rem;
  border: none;
  border-bottom: 1px solid var(--black);
  color: var(--black);
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.credit-type {
  width: 3em;
  text-transform: lowercase;
  font-size: 1rem;
  font-weight: bold;
}

.tranfer-btn {
  justify-self: center;
}
