.loading {
  border-radius: var(
    storeknox-inventory-details-unscanned-version-table-loading-border-radius
  );

  width: 100%;
  min-height: 35em;

  .loading-state-vector {
    margin-bottom: 1.5625em;
  }

  .loading-text {
    text-align: center;
    max-width: 302px;
  }
}
