.header-security-file-search-page-title {
  min-width: 600px;
  padding: 1em 1.285em;
  border: 1px solid var(--security-project-search-list-header-border-color);
  border-radius: var(--security-project-search-list-header-border-radius);
}
