<div class='freestyle-content'>
  <FreestyleGuide @title='Irene Component Library' @subtitle='Appknox Dashboard Components'>
    {{component (concat (or this.model 'ak-accordion') '/freestyle-section')}}
  </FreestyleGuide>
</div>
