.device-preference-select {
  margin-top: 0.57em;
  max-width: 400px;
  min-width: 330px;
}

.device-preference-table {
  border: 1px solid
    var(
      --project-settings-dast-automation-automation-settings-device-preferences-border-color
    );
  width: 100%;
  max-width: 600px;
  gap: 0.57em;
  padding: 0.57em 0;
  margin-top: 1.285em;
}

.version-select {
  width: 130px;
}
