.header-privacy-module-page {
  background-color: var(--privacy-module-applist-header-background-color);
  border: 1px solid var(--privacy-module-applist-header-border-color);

  .header-privacy-module-page-title {
    padding: 1em 1.285em;
  }
}
