<div local-class='empty-container' data-test-am-error-container>
  <span local-class='empty-state-vector' data-test-am-error-illustration>
    <AkSvg::AppMonitoringTableErrorIllustration />
  </span>
  <h2>{{@header}}</h2>
  <p>{{@body}}</p>
</div>