.root-container {
  border: 1px solid var(--security-purge-api-analysis-container-border-color);
  border-radius: var(--security-purge-api-analysis-container-border-radius);
  min-width: 29.5em;
  max-width: 29.5em;
  box-shadow: var(--security-purge-api-analysis-container-box-shadow);
  padding: 1.714em 2.857em 2.714em;

  .title {
    font-size: 1.285rem;
    padding-bottom: 0.5em;
  }
}
