.payment-status {
  background: var(--neutral-grey-50);
  border: 1px solid var(--neutral-grey-100);
  padding: 0.5em 1em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  color: var(--neutral-grey-500);
  border-radius: 0.2em;
  font-size: 0.9em;
  font-style: italic;
  display: inline-block;
}
