<div>
  <div data-test-nf-nsreqstd2-primary-message>
    {{t
      'notificationModule.messages.nf-nsreqstd2.primary'
      htmlSafe=true
      current_requester_username=@context.current_requester_username
      platform_display=@context.platform_display
      namespace_value=@context.namespace_value
      initial_requester_username=@context.initial_requester_username
      namespace_created_on=(format-date
        @context.namespace_created_on day='numeric' month='long' year='numeric'
      )
    }}
  </div>
  <div class='pt-1'>
    <div local-class='state-moderated'>
      <AkIcon
        data-test-nf-nsreqstd2-rejected-icon
        @iconName='cancel'
        @color='error'
      />
      <div data-test-nf-nsreqstd2-rejected-message>{{t
          'notificationModule.messages.nf-nsreqstd2.rejected'
        }}</div>
    </div>
  </div>
</div>