<div local-class='table-header' data-test-table-header-container>
  {{#each this.tableHeaders as |header|}}
    <div local-class='column-header' data-test-table-header>{{header}}</div>
  {{/each}}
</div>