<div local-class="tabs">
  {{#each this.tabs as |tab|}}
    <a href="#" local-class="tab {{if tab.active 'active'}}" {{on "click" (fn this.switchTab tab)}}>
      {{tab.label}}
    </a>
  {{/each}}
</div>

{{#each this.tabs as |tab|}}
  {{#if tab.active}}
    <Partner::RegistrationRequestsList @status={{tab.status}}></Partner::RegistrationRequestsList>
  {{/if}}
{{/each}}