.marketplace-card-logo {
  height: 50%;
  width: 50%;
  margin: auto;
  padding: 1em 0;
}
.marketplace-card-logo img {
  height: 100%;
  width: 100%;
}
.marketplace-card-desc {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
