<AkStack
  @alignItems='center'
  @justifyContent='center'
  @spacing='1'
  data-test-amVersionTable-actionColumnHeader
>
  <AkTypography @fontWeight='medium'>{{t 'action'}}</AkTypography>

  <AkTooltip
    @color='dark'
    @placement='top-start'
    @arrow={{true}}
    data-test-amVersionTable-actionColumnHeader-tooltip
  >
    <:tooltipContent>
      <div
        local-class='tooltip-content'
        data-test-amVersionTable-actionColumnHeader-tooltipContent
      >
        <AkTypography @color='inherit'>
          {{t 'appMonitoringModule.actionsInfo'}}
        </AkTypography>
      </div>
    </:tooltipContent>

    <:default>
      <AkIcon
        @iconName='info'
        @size='small'
        data-test-amVersionTable-actionColumnHeader-tooltipIcon
      />
    </:default>
  </AkTooltip>
</AkStack>