.triage-status-banner {
  box-sizing: border-box;
  padding: 1.143em;
  background-color: var(--knoxiq-triage-status-banner-background-color);
}

.triage-status-banner-icon {
  color: var(--knoxiq-triage-status-banner-icon-color);
}
