.search-input-container-width {
  width: 530px;
  margin-right: 0.714em;
  background-color: var(--storeknox-discover-results-bg-color);

  .close-search-text {
    cursor: pointer;
  }
}

.disclaimer-section {
  margin-top: 2.14em;
  border: 1px solid var(--storeknox-discover-results-border-color);
  background-color: var(--storeknox-discover-results-bg-color);
}

.warning-icon {
  background-color: var(--storeknox-discover-results-icon-bg-color);
  color: var(--storeknox-discover-results-icon-color);
}
