.fake-app-list-root {
  position: sticky;
  z-index: 10;
  top: 298px;
  background-color: var(--storeknox-inventory-details-header-background-color);

  &.archived {
    top: 342px;
  }

  .status-container {
    background-color: var(--sbom-scan-details-background-color);
    border: 1px solid var(--sbom-scan-details-border-color);
    border-radius: var(--sbom-scan-details-link-border-radius);
    height: 400px;
  }
}

.tab-icon {
  height: 14px;
  width: 14px;
  border-radius: 3px;
}

.brand-abuse {
  background-color: var(--brand-abuse-highlight-color);
}

.fake-app {
  background-color: var(--fake-app-highlight-color);
}
