.partner-dashboard {
  box-sizing: border-box;

  .client-groups {
    position: relative;

    .group-header {
      height: 3.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid darken(#F3F5F8, 5%);
      border-radius: 0.3rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        height: inherit;
      }

      .client-group {
        text-transform: uppercase;
        color: #adaeb3;
        padding: 0 2.3rem;
        text-align: center;
        font-weight: 600;
        cursor: pointer;
        height: inherit;
        line-height: 3.8rem;

        &.active,
        &:hover {
          color: $primary-color;
          // TODO need to enable after added multiple items
          // background-color: #f6f7f9;
          // border-top: 3px solid $primary-color;
        }
      }
    }
  }

  .credits-left {
    background-color: #F3F5F8;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .header {
      font-size: 14px;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
    }
  }


  .credits-status {
    display: grid;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .sharable-credits {
    display: grid;
    width: 200px;
    height: 200px;
    border: 15px solid #9CC3D5FF;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    color: #0063B2FF;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
  }

  .non-sharable-credits {
    background-color: #F3F5F8;
    padding: 1rem;
    border: 1px dashed #f05b4b;
    border-radius: 1rem;
  }

  .add-purchase {
    text-align: center;
  }

}
