<div local-class="partner-dashboard" class="padding-h-1 padding-t-1">
  <div local-class="client-groups">
    <div local-class="group-header">
      <div local-class="tabs">
        {{#each this.clientGroups as |clientGroup|}}
          <LinkTo @route={{clientGroup.link}} local-class="client-group {{if clientGroup.active 'active'}}">
            {{clientGroup.label}}
          </LinkTo>
        {{/each}}
      </div>
    </div>
  </div>
</div>