.initial-container {
  display: flex;
  align-items: center;
}

.first-item {
  color: var(--neutral-grey-700);
}

.list-item:not(:last-child) {
  margin-bottom: 0.6rem;
}

.show-more-count-badge {
  padding: 0 0.36rem 0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--neutral-grey-300);
  min-width: 1.95em;
  height: 1.5em;
  border-radius: 0.3em;
  font-size: 0.82em;
  font-weight: 600;
  border: none;

  i {
    font-size: 0.8rem;
    padding: 0 0.1rem;
    margin-right: 0.5rem;
  }
}
