.file-compare-header-container {
  position: sticky;
  top: -0.5em;
  z-index: 10;

  .file-compare-header-breadcrumbs {
    background-color: var(--file-compare-header-background-light);
    width: 100%;
  }

  .file-compare-header-project-overview {
    background-color: var(--file-compare-header-white-background-color);
    border: 1px solid var(--file-compare-header-dark-border-color);
    padding: 1em 1.5em;

    .divider {
      border-color: var(
        --file-compare-header-divider-background-color
      ) !important;
    }

    .file-icon {
      width: 24px;
      height: 24px;
      padding: 0.1786em;
      border-radius: var(--file-compare-header-file-icon-border-radius);
      border: 1px solid var(--file-compare-header-file-icon-border-color);

      img {
        width: 100%;
        height: 100%;
        border-radius: var(--file-compare-header-file-icon-border-radius);
        object-fit: contain;
        background-image: none;
        overflow: hidden;
      }
    }
  }

  .file-compare-header-info {
    padding: 1.4286em;
    padding-bottom: 1em;
    border: 1px solid var(--file-compare-header-dark-border-color);
    border-top: none;
    box-shadow: var(--file-compare-header-info-box-shadow);
    background-color: var(--file-compare-header-white-background-color);
  }
}

.files-overview-container {
  padding: 1.4286em;
  border: 1px solid var(--file-compare-header-files-overview-border-color);
  border-top: none;
  background-color: var(--file-compare-header-white-background-color);
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
  gap: 1.4286em;
}

.filter-input {
  border-color: var(--project-list-header-filter-border-color) !important;
  padding: 0px 8px !important;
  width: max-content !important;
  height: 38px !important;
  margin-right: 8px;

  :global(.ember-power-select-status-icon) {
    display: none;
  }

  &:hover {
    border-color: var(
      --project-list-header-filter-hover-border-color
    ) !important;
  }
}

.filter-input-dropdown {
  min-width: max-content !important;

  :global(.ember-power-select-option) {
    background-color: var(--project-list-header-background-color) !important;
    padding: 0.5em 0.75em !important;

    &[aria-current='true'] {
      background-color: var(
        --project-list-header-filter-option-hover-background
      ) !important;
    }
  }

  :global(.ember-power-select-options) {
    padding: 0 !important;
  }
}
