$card-header-height: 5rem;
$card-thumbnail-size: 2.8rem;
$card-padding: 1rem;

@mixin truncate($font-size, $line-height, $lines-to-show) {
  display: block; // Fallback for non-webkit
  display: -webkit-box;
  max-width: 400px;
  // height: $font-size*$line-height*$lines-to-show; // Fallback for non-webkit
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-info-card {
  display: grid;
  box-shadow: 0px 0px 5px -2px #888;
  border-radius: 0.3rem;
  min-height: 8px;
  margin: 8px;
  grid-template-rows: $card-header-height 1fr;
  background-color: #fff;

  .client-info-header {
    display: grid;
    grid-template-columns: $card-thumbnail-size 1fr;
    column-gap: 12px;
    padding: 0 $card-padding;
    height: $card-header-height;
    align-items: center;
    border-bottom: 1px solid rgba(#424651, 0.3);

    .thumbnail {
      width: $card-thumbnail-size;
      height: $card-thumbnail-size;
      border-radius: 50%;
      border: 1px solid rgba(#424651, 0.3);
      color: $white;
      display: grid;
      align-items: center;
      justify-content: center;
      background: $primary-color;
    }

    .title {

      text-transform: capitalize;
      font-weight: bold;
      color: rgba(#000, 0.7);
      max-height: 92%;
      font-size: 1.1rem;
      overflow: hidden;
      text-overflow: ellipsis;

      &.empty-title {
        color: #424651;
        font-size: 14px;
        font-style: italic;
      }

      &:hover {
        color: rgba(#000, 1);
      }

      // @include truncate(18px, 1, 2);
    }

    &:hover {
      .thumbnail {
        background: $white;
        color: $primary-color;
      }
    }
  }

  .client-info-body {

    height: 100%;

    .client-metrics {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 1.2rem;
      align-items: center;
      background-color: #f6f7f9;

      .metric {
        display: grid;
        grid-template-rows: 1.5rem 1fr;
        row-gap: 0.2rem;
        justify-content: center;
        text-align: center;
        color: #000;
        padding-left: 0.5rem;
      }

      .metric-value {
        font-size: 1.3rem;
        line-height: 1;
      }

      .metric-label {
        font-size: 0.9em;
        line-height: 1.25;
      }
    }

    .client-activities {
      display: grid;
      padding: $card-padding * 1.3 $card-padding * 2 $card-padding * 1.5;
      row-gap: $card-padding;
      font-size: 0.95em;

      .activity {
        display: grid;
        grid-template-columns: 100px 1fr;
        column-gap: 0.1rem;
        align-items: baseline;

        .label {
          color: #000;
          font-size: 0.95em;
        }

        &.payment {

          .type {
            border-radius: 0.3rem;
            padding: 0.35rem 1.2rem;
            color: $white;
            text-transform: capitalize;
            line-height: 1.5;
            font-weight: bold;

            &.per-scan {
              background-color: #0362b1;
            }

            &.per-app {
              background-color: #66bb6a;
            }
          }

          .credit-info {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: left;
            column-gap: 8px;
            align-items: center;
            row-gap: 0.5em;

            .info-icon {
              i.icon {
                color: #FFCC00;
                font-size: 1.3rem;
              }
            }

            .payment-status {
              grid-column-start: 1;
              grid-column-end: 3;

              .data {
                color: #000;

                .value {
                  text-transform: lowercase;
                }

                .expiry-date {
                  font-size: 0.9em;
                  font-style: italic;
                  font-weight: normal;
                }
              }
            }

            .payment-status {
              color: #FE4D3F;
            }
          }
        }


      }
    }

  }

}
