.report-actions {
  display: flex;
  gap: 0.5rem;
}
.button-small {
  height: 2rem;
  padding: 0.5rem;
}
.button-progress {
  &:hover {
    background-color: transparent !important;
    color: var(--primary) !important;
  }
}
.download-button {
  width: 8rem;
}
.generate-tooltip {
  width: 5rem;
}
.report-loading-error {
  color: var(--text-error);
  font-size: 0.95rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
