.report-actions {
  display: flex;
  gap: 0.5rem;
}

.button-small {
  height: 2rem;
  padding: 0.5rem;
}

.button-progress {
  &:disabled {
    background-color: transparent !important;
  }
}

.progress-loader {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--primary);
  bottom: 0;
  left: 0;
  opacity: 0.2;
}

.download-button {
  width: 8rem;
}

.report-loading-error {
  color: var(--text-error);
  font-size: 0.95rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.is-progress {
  transition: width 0.6s ease;
  background-image: linear-gradient(
    -45deg,
    #fff2f1 25%,
    transparent 25%,
    transparent 50%,
    #fff2f1 50%,
    #fff2f1 75%,
    transparent 75%,
    transparent
  );
  background-size: 20px 20px;
  animation: progress 0.5s linear infinite;
}

@keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 20px 0px;
  }
}
