<div local-class="progress-bar">
  <span local-class="container">
    <span local-class="progress"></span>
    <span local-class="count">{{@value}}/{{@total}}</span>
  </span>
  <span local-class="label">Credits Utilized</span>
</div>