.project-grid {
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2em;
}

.home-page-container {
  padding: 0.714em 0em;
}

.no-project-container {
  height: 60vh;
  width: 100%;
  padding: 0 25%;
  background-color: var(--project-list-background-color);
  border: 1px solid var(--project-list-border-color);
  border-radius: var(--project-list-border-radius);
}

.project-table {
  background-color: var(--project-list-background-color);
  width: 100%;
  height: 100%;

  table {
    table-layout: auto;

    thead tr th,
    tbody tr td {
      width: auto !important;
      max-width: 400px !important;
    }

    tbody tr td {
      background-color: var(--project-list-background-color);
    }

    tbody tr:hover td {
      background-color: var(--project-list-background-color-hover);
    }
  }
}
