.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}

.no-result-found {
  margin: 90px auto;
  padding: 0.9375em;
  border-radius: 20px;
}

.sorting-select {
  text-overflow: ellipsis;
  padding-right: 1.8125em;
}
