.device-timeout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.extend-text {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.extend-btn {
  cursor: pointer;
}

.extend-btn[aria-disabled=true] {
  cursor: not-allowed;
  pointer-events: auto;
  opacity: 0.5;
}

.time-display {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

div.dropdown {
  z-index: 9999;
}

.spinner {
  margin-left: 0.5rem;
  visibility: hidden;
}

.show {
  visibility: visible;
}
