.navbar-root {
  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 0.65em 1em;
  background-color: var(--organization-dashboard-header-background-color);
  color: var(--organization-dashboard-header-text-color);

  .navbar-btn {
    color: var(--organization-dashboard-header-text-color);
    background-color: unset;

    :global(.ak-icon) {
      font-size: 1.5rem !important;
    }

    :hover {
      color: var(--organization-dashboard-header-text-color);
      background-color: unset;
    }
  }
}
