.automated-scan-trigger-info {
  padding: 1em;
  background-color: var(--vnc-viewer-info-background);
  border-radius: var(--vnc-viewer-note-border-radius);
  border: 1px solid var(--vnc-viewer-info-border-color);
}
