.file-compare-file-overview {
  border-radius: var(--file-compare-file-overview-border-radius);
  border: 1px solid var(--file-compare-file-overview-border-color-dark);
  background-color: var(--file-compare-file-overview-background-white);
}
