.edit-analysis-content {
  border: 1px solid
    var(--analysis-risk-override-edit-drawer-content-border-color);
  border-radius: var(
    --analysis-risk-override-edit-drawer-content-border-radius
  );
  margin: 1.5em;
}

.textarea-input {
  border: 1px solid
    var(
      --analysis-risk-override-edit-drawer-override-form-textarea-border-color
    );
  border-radius: var(
    --analysis-risk-override-edit-drawer-override-form-border-radius
  );
  color: var(--analysis-risk-override-edit-drawer-override-form-textarea-color);
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.75em;
  max-width: 100%;
  width: 100%;
}

.reason-readonly {
  white-space: pre-wrap;
  word-break: break-word;
}
