.domain-input {
  width: 236px;
}

.email-domain-container {
  background-color: var(--background-main);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color-1);
  padding: 1.5em;
}