.root {
  width: 100%;
  gap: 4px;
  padding: 7px;
}

.category {
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #7b7b7b !important;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.title {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #171717 !important;
  line-height: 1.4;
}
