.admin-common-page-header-root {
  background-color: var(--storeknox-inventory-header-background-color);
  margin: 0.714em 0;
  padding: 1.428em;
  border: 1px solid var(--storeknox-inventory-header-border-color);
}
