.severity-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.severity-critical {
  background-color: var(--file-chart-severity-level-color-critical);
}

.severity-high {
  background-color: var(--file-chart-severity-level-color-high);
}

.severity-medium {
  background-color: var(--file-chart-severity-level-color-medium);
}

.severity-low {
  background-color: var(--file-chart-severity-level-color-low);
}

.severity-passed {
  background-color: var(--file-chart-severity-level-color-passed);
}

.severity-none {
  background-color: var(--file-chart-severity-level-color-none);
}

.tooltip-content-container {
  width: 320px;
  padding: 0.5em;
  box-sizing: border-box;
  white-space: normal;
}
