.action-button-root {
  border-radius: 3px;
  background-color: #f6fff7;
  color: var(--success-main) !important;
  border-color: var(--success-main) !important;

  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 0.5px var(--success-main);
  }

  &.needs-action {
    color: var(--primary-main) !important;
    border-color: var(--primary-main) !important;
    background-color: #fff5f5;

    &:focus,
    &:hover {
      box-shadow: inset 0 0 0 0.5px var(--primary-main);
    }
  }

  &.feature-in-progress {
    color: var(--storeknox-feature-in-progress-button-color) !important;
    border-color: var(--storeknox-feature-in-progress-button-color) !important;

    background-color: var(
      --storeknox-feature-in-progress-button-bg-color
    ) !important;

    &:focus,
    &:hover {
      box-shadow: inset 0 0 0 0.5px
        var(--storeknox-feature-in-progress-button-color);
    }
  }
}
