.action-button-root {
  border-radius: 3px;

  background-color: var(
    --storeknox-inventory-details-app-details-action-button-no-action-bg
  );

  color: var(
    --storeknox-inventory-details-app-details-action-button-no-action-color
  ) !important;

  border-color: var(
    --storeknox-inventory-details-app-details-action-button-no-action-color
  ) !important;

  &:focus,
  &:hover {
    box-shadow: var(
        --storeknox-inventory-details-app-details-action-button-box-shadow
      )
      var(
        --storeknox-inventory-details-app-details-action-button-no-action-color
      );
  }

  &.archived:not(.feature-in-progress) {
    color: var(
      --storeknox-inventory-details-app-details-action-button-archived-color
    ) !important;

    border-color: var(
      --storeknox-inventory-details-app-details-action-button-archived-border-color
    ) !important;

    background-color: var(
      --storeknox-inventory-details-app-details-action-button-archived-bg-color
    );

    &:focus,
    &:hover {
      box-shadow: var(
          --storeknox-inventory-details-app-details-action-button-box-shadow
        )
        var(
          --storeknox-inventory-details-app-details-action-button-archived-color
        );
    }
  }

  &.needs-action:not(.archived) {
    color: var(
      --storeknox-inventory-details-app-details-action-button-needs-action-color
    ) !important;

    border-color: var(
      --storeknox-inventory-details-app-details-action-button-needs-action-color
    ) !important;

    background-color: var(
      --storeknox-inventory-details-app-details-action-button-needs-action-bg
    );

    &:focus,
    &:hover {
      box-shadow: var(
          --storeknox-inventory-details-app-details-action-button-box-shadow
        )
        var(
          --storeknox-inventory-details-app-details-action-button-needs-action-color
        );
    }
  }

  &.feature-in-progress {
    color: var(
      --storeknox-inventory-details-app-details-action-button-feature-in-progress-color
    ) !important;

    border-color: var(
      --storeknox-inventory-details-app-details-action-button-feature-in-progress-color
    ) !important;

    background-color: var(
      --storeknox-inventory-details-app-details-action-button-feature-in-progress-bg-color
    ) !important;

    &:focus,
    &:hover {
      box-shadow: var(
          --storeknox-inventory-details-app-details-action-button-box-shadow
        )
        var(
          --storeknox-inventory-details-app-details-action-button-feature-in-progress-color
        );
    }
  }
}
