.header {
  margin-bottom: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--black-600);
  margin-bottom: 0 !important;
}

.table {
  border: 1px solid var(--border-table);
  border-radius: 0.3rem;
}

.table-header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  background-color: var(--bg-gray);
  word-break: break-all;
  text-transform: capitalize;
}

.table-row {
  border-top: 1px solid var(--border-table);
  display: grid;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0.8rem;
  min-height: 2.5rem;
}

.table-header,
.table-row {
  grid-template-columns: 1.3fr 1fr 1fr;
  gap: 2rem;

  &.has-report-column {
    grid-template-columns: 1fr 16% 13% 0.6fr 14rem;
    gap: 0.8rem;
  }

  &.has-results-column {
    grid-template-columns: 1fr 16% 13% 0.6fr;
    gap: 0.8rem;
  }
}

.app {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 0.5rem;
}

.app-icon {
  width: 3rem;
  height: 3rem;
  display: block;
  border-radius: 0.3rem;
  background-color: var(--bg-gray);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.app-name {
  color: var(--black-900);
}

.fileid-key {
  color: var(--black-300);
}

.fileid-value {
  color: var(--black-900);
}

.version-info {
  font-size: 0.95em;
}

.version {
  width: 100%;
  word-break: break-word;
}

.version-key {
  color: var(--black-300);
}

.version-value {
  color: var(--black-900);
}

.uploaded {
  color: var(--black-300);
}

.summary {
  padding-right: 2rem;
}

.pagination {
  margin: 1rem -3px;
}

.loading-error {
  display: flex;
  height: 7.5rem;
  background: var(--bg-gray);
  border: 1px solid var(--bg-gray-darken-040);
  border-radius: 0.3rem;
  color: var(--loading-error-color);
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5rem;
}

.empty-data {
  display: flex;
  height: 7.5rem;
  background: var(--bg-gray);
  border: 1px solid var(--bg-gray-darken-040);
  border-radius: 0.3rem;
  color: var(--empty-state-color);
  font-style: italic;
  align-items: center;
  justify-content: center;
}
