.client-uploads-container {
  .title {
    margin-bottom: 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .upload-count {
    background: #333;
    color: white;
    margin-left: 1rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
  }

  .table {
    border: 1px solid #f0f1f3;
    border-radius: 0.3rem;
    margin-top: 0.7rem;

    .header {
      display: grid;
      grid-template-columns: 1fr 11% 13% 16%;
      align-items: center;
      padding: 1rem;
      text-transform: capitalize;
      background-color: #f6f7f9;
    }

    .body {
      .row {
        display: grid;
        grid-template-columns: 1fr 11% 13% 16%;
        justify-content: left;
        align-items: center;
        padding: 0.6rem;
        border-top: 1px solid #f0f1f3;

        .app {
          display: grid;
          grid-template-columns: 40px 1fr;
          column-gap: 1rem;

          .app-icon {
            width: 3rem;
            height: 3rem;
            display: block;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 0.3rem;
            background-color: #f6f7f9;
          }

          .app-info {
            display: grid;
            align-items: center;

            .app-name {
              font-weight: bold;
            }
          }
        }

        .version {
          display: grid;
          align-items: center;
          font-size: 0.95em;
        }
      }

      .center-msg {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 16rem;
        border-top: 1px solid #f0f1f3;
        background-color: lighten(#f6f7f9, 4%);
      }
    }
  }

  .pagination {
    border-top: 1px solid #f0f1f3;
    padding: 0.75rem 0.6rem 0;
  }
}
