.ak-date-picker-root {
  :global(.ember-basic-dropdown-content) {
    background-color: transparent;
  }

  :global(.date-picker__trigger) {
    border: none !important;
  }

  :global(.date-picker) {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--ak-date-picker-border-color);
    border-radius: var(--ak-date-picker-border-radius);
    box-shadow: var(--ak-date-picker-box-shadow);
    padding: 0;
    margin-top: 0.25em;
    box-sizing: border-box;

    :global(.date-picker__calendar) {
      padding: 1em;

      :global(.date-picker__header__button) {
        border: none;
        border-radius: var(--ak-date-picker-border-radius);
        font-size: 0;
        padding: 1em;
        position: relative;
        width: 30px;
        height: 30px;

        &:hover,
        &:focus {
          background-color: var(--ak-date-picker-header-btn-hover-background);
        }
      }

      :global(.date-picker__header__button.date-picker__header__button--previous)::before {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border-width: 4.5px;
        margin-right: 4.5px;
        border-style: solid;
        border-color: transparent var(--ak-date-picker-color-text-primary)
          transparent transparent;
      }

      :global(.date-picker__header__button.date-picker__header__button--next)::before {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border-width: 4.5px;
        margin-left: 4.5px;
        border-style: solid;
        border-color: transparent transparent transparent
          var(--ak-date-picker-color-text-primary);
      }

      :global(.date-picker__header__month),
      :global(.date-picker__header__year) {
        font-size: 1.428rem;
        font-family: var(--ak-date-picker-font-family);
        font-weight: var(--ak-date-picker-font-weight-regular);
      }

      :global(.date-picker__header__month) {
        color: var(--ak-date-picker-color-text-primary);
      }

      :global(.date-picker__header__year) {
        color: var(--ak-date-picker-color-text-secondary);
      }

      :global(.date-picker__weekday) {
        font-size: 0.857rem;
        font-family: var(--ak-date-picker-font-family);
        font-weight: var(--ak-date-picker-font-weight-medium);
        color: var(--ak-date-picker-weekday-color);
        text-transform: uppercase;
      }

      :global(.date-picker__day) {
        background-color: transparent;
        transition: unset !important;
        border-radius: var(--ak-date-picker-border-radius);
        font-size: 0.857rem;
        font-family: var(--ak-date-picker-font-family);
        font-weight: var(--ak-date-picker-font-weight-regular);
        color: var(--ak-date-picker-color-text-primary);

        &:hover,
        &:focus {
          background-color: var(--ak-date-picker-color-primary) !important;
          color: var(--ak-date-picker-color-primary-contrast-text) !important;
        }

        &:focus {
          box-shadow: unset !important;
        }
      }

      :global(.date-picker__day--disabled) {
        border: none;
      }
    }

    :global(.date-picker__options) {
      display: grid;
      gap: 0 1em;
      grid-template-areas:
        'header header'
        '. .';
      padding: 1em;
      margin-left: 0;
      border-top: 1px solid var(--ak-date-picker-border-color);
      box-sizing: border-box;

      &::before {
        display: block;
        content: 'Quick Selection';
        grid-area: header;
        margin-bottom: 0.5em;
        font-size: 1rem;
        font-family: var(--ak-date-picker-font-family);
        font-weight: var(--ak-date-picker-font-weight-medium);
        color: var(--ak-date-picker-color-text-primary);
      }

      :global(.date-picker__options__button) {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        box-sizing: border-box;
        background-color: transparent;
        outline: 0;
        border: 0 !important;
        margin: 0;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        text-decoration: none;
        color: var(--ak-date-picker-color-primary);
        font-weight: 400;
        font-size: 1rem;
        min-width: 80px;
        height: auto;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
