<div>
  <div data-test-nf-nsrejctd2-primary-message>
    {{t
      'notificationModule.messages.nf-nsrejctd2'
      htmlSafe=true
      platform_display=@context.platform_display
      namespace_value=@context.namespace_value
      requester_username=@context.requester_username
      moderator_username=@context.moderator_username
    }}
  </div>
  <div>
    <div class='pt-1' data-test-nf-nsrejctd2-link>
      <AkLink
        @color='primary'
        @route='authenticated.organization.namespaces'
        @underline='always'
        @title='{{t "notificationModule.viewNamespaces"}}'
      >
        {{t 'notificationModule.viewNamespaces'}}
      </AkLink>
    </div>
  </div>
</div>