.app-monitoring-table-container {
  margin-top: 1.25em;

  .app-monitoring-table-row {
    cursor: pointer;
  }

  .loading {
    border: 1px solid var(--appmonitoring-border-color);
    border-radius: var(--appmonitoring-border-radius);
    width: 100%;
    min-height: 35em;
  }
}
