.header {
  line-height: 3rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--black-600);
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-gray-lighten-015);
  padding: 2rem;
  border: 1px solid var(--bg-gray-darken-050);
  border-radius: 0.3rem;
}

.date-range-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 14rem;
  padding: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--bg-gray-darken-080);
  border-radius: 0.3rem;
  background-color: var(--background-main);
}

.date-range {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}
