.ak-loader-root {
  display: inline-flex;
  position: relative;

  .ak-loader-svg {
    transform: rotate(-90deg);

    &.indeterminate {
      transform-origin: 50% 50%;
      animation: SpinnerFrames 1s infinite linear;
    }

    .ak-loader-svg-track,
    .ak-loader-svg-indicator {
      fill: transparent;
    }

    .ak-loader-svg-track {
      &.ak-loader-track-color-primary {
        stroke: var(--ak-loader-track-color-primary-light);
      }

      &.ak-loader-track-color-secondary {
        stroke: var(--ak-loader-track-color-secondary-light);
      }

      &.ak-loader-track-color-info-dark {
        stroke: var(--ak-loader-track-color-info-light);
      }

      &.ak-loader-track-color-info {
        stroke: var(--ak-loader-track-color-info-light);
      }

      &.ak-loader-track-color-success {
        stroke: var(--ak-loader-track-color-success-light);
      }

      &.ak-loader-track-color-warn-dark {
        stroke: var(--ak-loader-track-color-warn-light);
      }

      &.ak-loader-track-color-warn {
        stroke: var(--ak-loader-track-color-warn-light);
      }

      &.ak-loader-track-color-error {
        stroke: var(--ak-loader-track-color-error-light);
      }
    }

    .ak-loader-svg-indicator {
      stroke-linecap: round;

      &.ak-loader-indicator-color-primary {
        stroke: var(--ak-loader-stroke-primary-main);
      }

      &.ak-loader-indicator-color-secondary {
        stroke: var(--ak-loader-stroke-secondary);
      }

      &.ak-loader-indicator-color-info {
        stroke: var(--ak-loader-stroke-info-main);
      }

      &.ak-loader-indicator-color-info-dark {
        stroke: var(--ak-loader-stroke-info-dark);
      }

      &.ak-loader-indicator-color-success {
        stroke: var(--ak-loader-stroke-success-main);
      }

      &.ak-loader-indicator-color-warn {
        stroke: var(--ak-loader-stroke-warn-main);
      }

      &.ak-loader-indicator-color-warn-dark {
        stroke: var(--ak-loader-stroke-warn-dark);
      }

      &.ak-loader-indicator-color-error {
        stroke: var(--ak-loader-stroke-error-main);
      }

      &.indeterminate {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: 0;
      }
    }
  }

  .ak-loader-svg-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
}

@keyframes SpinnerFrames {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
