.back-to-container {
  width: max-content;
  margin: 1.43rem 0;
}
.back-to {
  display: flex;
  align-items: center;
  font-size: 1rem;
  column-gap: 0.5rem;
  color: var(--body-text-1);
  font-weight: 600;
}

.back-text {
  text-decoration: underline;
}

.org-name-container {
  background-color: var(--white);
  height: 5rem;
  border: 1px solid var(--black-shade-11);
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.org-name-content {
  width: 1px; //px required, but has no effect
  flex-basis: 80%;
}

.org-name-label {
  color: var(--black-shade-5);
}

.org-name-text {
  color: var(--body-text-1);
  font-weight: 700;
  @include ellipsis;
}

// Edit name modal styles
.edit-name-label {
  color: var(--body-text-1);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.edit-name-action-container {
  margin-top: 1em;
  display: flex;
  column-gap: 0.5em;
  justify-content: flex-end;
}
