.dropzone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #efefef;
  background: #efefef;
  border-radius: 0.3em;
  padding: 1.5em;
}
.dropzone-logo {
  display: flex;
  align-items: center;
  width: 2.8em;
  margin-bottom: 0.8em;
}
.dropzone-upload {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}
