.team-project-icon-apple {
  color: var(--organization-team-project-list-info-color-ios);
}

.team-project-icon-android {
  color: var(--organization-team-project-list-info-color-android);
}

.team-project-icon {
  font-size: 1.2rem;
  vertical-align: unset;
}
