.row {
  display: flex;
  border-bottom: 1px dashed #e3e8ef;
  padding: 0.5rem 0;
}

.key {
  width: 30%;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

.value {
  width: 70%;
  display: flex;
  align-items: center;
}

.plan {
  display: flex;
}

.plan-type {
  border-radius: 0.2rem;
  padding: 0.2rem 0.6rem;
  color: $white;
  text-transform: capitalize;
  line-height: 1.2;
  font-weight: bold;
  border: 1px solid transparent;

  &.per-app {
    color: #5995ef;
    background-color: #F2F7FF;
    border-color: darken(#F2F7FF, 1%);
  }

  &.per-scan {
    color: #57bf72;
    background-color: #f0f9f2;
    border-color: darken(#f0f9f2, 1%);
  }
}

.plan-status {
  display: flex;
  align-items: center;
  color: #000;
  margin-left: 0.5rem;
}

.expiry-date {
  font-size: 0.9em;
  color: #9ba2ad;
}

.expiry-date-expired {
  color: #FE4D3F;
}
