.edit-org-form {
  display: flex;
  flex-direction: column;

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
      color: var(--text-primary-color);
      font-weight: 600;
    }

    input {
      appearance: none;
      align-items: center;
      background-color: var(--white);
      border: 1px solid var(--input-border-color);
      box-shadow: none;
      border-radius: 3px;
      color: var(--text-primary-color);
      display: inline-flex;
      font-size: 14px;
      font-weight: 400;
      height: 40px;
      justify-content: flex-start;
      line-height: 24px;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin: 0.5em 0;
      position: relative;
      vertical-align: top;
      width: 100%;
    }
  }

  .form-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;

    button {
      width: 80px;
      margin-left: 1em;
    }
  }
}

.success-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;

  p {
    margin: 1em 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-primary-color);
  }

  button {
    width: 50px;
  }
}
