<div local-class='settings-analysis-container'>
  <div class='py-2 px-3' local-class='section-divider'>
    <ProjectSettings::AnalysisSettings::ToggleAnalysis
      @project={{this.project}}
    />
  </div>

  <div class='py-2' local-class='section-divider'>
    <ProjectSettings::AnalysisSettings::RegulatoryPreference
      @project={{this.project}}
    />
  </div>

  <div class='py-2' local-class='section-divider'>
    <ProjectSettings::AnalysisSettings::ReportPreference
      @project={{this.project}}
    />
  </div>

  <div class='py-2 px-3' local-class='section-divider'>
    <VulnerabilityList @project={{this.project}} />
  </div>
</div>