.project-settings-page-wrapper {
  padding: 1.4286em;
  padding-top: 0em;
  margin: -0.7143em -0.5em;
  background-color: var(--project-settings-page-wrapper-background-color);
  min-height: calc(100vh - 56px);
}
