.ai-powered-features-wrapper {
  background-color: var(--organization-ai-powered-features-bg-color);
  border: 1px solid var(--organization-ai-powered-features-border-color);
  border-top: none;

  .ai-powered-feature-body {
    padding: 1.142em;
  }
}
