.nf-icon-container {
  position: relative;
}

.nf-icon,
.nf-icon:hover,
.nf-icon:focus,
.nf-icon:active {
  color: var(--notification-bell-icon-color);
}

.nf-button {
  border: 0;
  border-radius: 0;
  display: inline-block;
  height: auto;
  padding: 0;
  margin: 0.5em;
  background-color: transparent;
}

.nf-unread-dot {
  background-color: var(--notification-bell-icon-dot-background-color);
  border: 2px solid var(--notification-bell-icon-dot-border-color);
  height: 0.9em;
  width: 0.9em;
  border-radius: 50%;
  position: absolute;
  top: -0.3em;
  right: -0.1em;
}

.icon-container {
  position: relative;
  display: flex;
}
