{{page-title "All Files"}}
<div class="columns">
  <div class="column margin-left">
    <h4 class="bold black-text">
      {{t "allScans"}}
    </h4>
  </div>
</div>
<FileList @project={{@model}}></FileList>
