.confirm-drawer-container {
  width: 640px;
  margin: 1.5em;

  border: 1px solid
    var(--storeknox-inventory-details-header-archive-drawer-border-color);

  border-radius: var(
    --storeknox-inventory-details-header-archive-drawer-border-radius
  );

  .confirm-action-container {
    background-color: var(
      --storeknox-inventory-details-header-archive-drawer-background-main
    );

    box-shadow: var(
      --storeknox-inventory-details-header-archive-drawer-action-box-shadow
    );
  }
}
