.report-btn {
  display: flex;
  column-gap: 0.7rem;

  .report-download {
    cursor: pointer;

    .dd-trigger {
      .trigger-item {
        vertical-align: middle;
      }
    }

    .dd-content {
      margin-top: 0.5em;
      width: max-content;

      .report-item {
        color: var(--black);
        width: auto;
        align-items: center;
        padding: 0.5em 1em;
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 0.8rem;
        height: inherit;

        i {
          font-size: 1rem;
        }
      }
    }
  }
}
