<div class='box-container margin-top'>
  <div class='columns'>
    <div class='column is-one-third'>
      <h5 class='bold black-text'>
        {{t 'language'}}
      </h5>

      {{t 'selectLanguage'}}

      <div class='language-select'>
        <AccountSettings::General::SelectLanguage />
      </div>
    </div>
  </div>
</div>