<div>
  Your
  <strong>namespace request</strong>
  for
  {{@context.platform_display}}
  app
  <strong>{{@context.namespace_value}}</strong>
  created on
  {{@context.namespace_created_on}}
  was
  <strong>not approved</strong>.
</div>