.scan-window-time-input {
  width: 120px;
  height: 35px;
  box-sizing: border-box;

  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    opacity: 0;
    pointer-events: none;
    width: 0;
  }
}

.scan-window-divider.scan-window-divider {
  border-color: var(--border-color-2);
}
