.overridden-as-value-container {
  padding: 0.75em 1em;
  border: 1px solid
    var(--analysis-risk-override-edit-drawer-override-details-border-color);
  border-radius: var(
    --analysis-risk-override-edit-drawer-override-details-border-radius
  );
  box-sizing: border-box;
}

.overridden-details-chip {
  border: 1px solid
    var(--analysis-risk-override-edit-drawer-override-details-border-color);
  border-radius: 2.142em;
  padding: 0.35em 1em;
  box-sizing: border-box;
}
