<div>
  <div class='box-container margin-top'>
    <div class='columns'>
      <div class='column is-half'>
        <h5 class='bold black-text is-fullwidth'>
          {{t 'changePassword'}}
        </h5>

        <AccountSettings::Security::PasswordChange />
      </div>
    </div>
  </div>

  <div class='padding-h-1 padding-t-1 padding-b-3'>
    <div class='columns'>
      <div class='column'>
        <AccountSettings::Security::MultiFactorAuth @user={{@user}} />
      </div>
    </div>
  </div>
</div>