.app-summary-container {
  padding: 1.5em;
  border-radius: var(--sbom-app-summary-border-radius);
  border: 1px solid var(--sbom-app-summary-border-color);
  box-sizing: border-box;

  .app-platform-icon {
    padding: 0;
    width: unset;
  }
}
