<AkTooltip @placement='bottom' @arrow={{true}} @color='light'>
  <:tooltipContent>
    <div local-class='tooltip-content'>
      <AkTypography class='mt-1'>
        Lorem ipsum dolor sit amet consectetur. At suspendisse et orci risus non
        sed. Mauris dui tincidunt
      </AkTypography>
    </div>
  </:tooltipContent>

  <:default>
    <AkStack @alignItems='center' @spacing='0.5'>
      <AkIcon
        @iconName='do-not-disturb-on'
        @color='textSecondary'
        @size='small'
      />

      <AkTypography>
        Disabled
      </AkTypography>
    </AkStack>
  </:default>
</AkTooltip>