<div
  local-class='divider-container'
  data-test-analysisRisk-overrideEditDrawer-divider
>
  <div local-class='divider'></div>

  <AkTypography @tag='div' local-class='divider-label'>
    {{@label}}
  </AkTypography>
</div>