$defaultTrackWidth: 3em;
$defaultTrackHeight: 1.6875em;
$defaultThumbSize: 1.3125em;

@mixin toggleContainerSize($scale: 1) {
  width: $defaultTrackWidth * $scale;
  height: $defaultTrackHeight * $scale;
}

@mixin trackRadiusAndThumbSize($scale: 1) {
  border-radius: $defaultTrackHeight * $scale;

  &::before {
    height: $defaultThumbSize * $scale;
    width: $defaultThumbSize * $scale;
    left: 0.1875em * $scale;
    bottom: 0.1875em * $scale;
  }
}

@mixin thumbTranslateDistance($scale: 1, $trackClassName: 'track-default') {
  &:checked + .#{$trackClassName}::before {
    transform: translateX($defaultThumbSize * $scale);
  }
}

// static base css
.toggle-container {
  position: relative;
  display: inline-block;

  &.disabled {
    cursor: not-allowed;
  }
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .track {
    background-color: var(--toggle-button-checked-color);
  }

  &:disabled + .track {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.track {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  background-color: var(--toggle-button-unchecked-color);

  &::before {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: 0.4s;
    background-color: var(--toggle-button-slider-circle-color);
  }
}

// small switch
.toggle-container-small {
  @include toggleContainerSize(0.7);
}

.toggle-input-small {
  @include thumbTranslateDistance(0.7, 'track-small');
}

.track-small {
  @include trackRadiusAndThumbSize(0.7);
}

// default switch
.toggle-container-default {
  @include toggleContainerSize;
}

.toggle-input-default {
  @include thumbTranslateDistance;
}

.track-default {
  @include trackRadiusAndThumbSize;
}

// large switch
.toggle-container-large {
  @include toggleContainerSize(1.3);
}

.toggle-input-large {
  @include thumbTranslateDistance(1.3, 'track-large');
}

.track-large {
  @include trackRadiusAndThumbSize(1.3);
}

// label styles
.toggle-label-container {
  display: inline-flex;
  align-items: center;
}

.toggle-label {
  color: var(--toggle-button-label-color);
}

.toggle-label-placement-right {
  flex-direction: row-reverse;
}

.toggle-label-left {
  margin-right: 8px;
}

.toggle-label-right {
  margin-left: 8px;
}
