<PageWrapper>
  <div class='w-full mb-3 pt-2'>
    {{! Breadcrumbs }}
    <div {{style height='38px'}} class='pb-3'>
      <AkSkeleton @width='250px' @height='16px' @variant='rounded' />
    </div>

    {{! App Info Container }}
    <AkStack
      @bgColor='white'
      @width='full'
      @justifyContent='space-between'
      @spacing='1'
      class='p-3'
    >
      <AkStack @direction='row' @spacing='2' @alignItems='center'>
        <AkSkeleton @width='50px' @height='50px' @variant='circular' />

        <AkStack @spacing='0.75' @direction='column' @alignItems='flex-start'>
          <AkSkeleton
            @width='200px'
            @height='1.5rem'
            @variant='rounded'
            class='mt-1'
          />

          <AkSkeleton @width='280px' @height='1rem' @variant='rounded' />
        </AkStack>
      </AkStack>

      <AkStack
        @alignItems='center'
        @justifyContent='flex-end'
        @spacing='1.5'
        {{style alignSelf='flex-end'}}
      >
        <AkSkeleton @width='120px' @height='36px' @variant='rounded' />
        <AkSkeleton @width='36px' @height='36px' @variant='rounded' />
      </AkStack>
    </AkStack>

    {{! Chips Row }}
    <AkStack
      @bgColor='white'
      @width='full'
      @direction='column'
      @spacing='1'
      class='px-6 py-2'
    >
      <AkStack @spacing='1' @alignItems='center'>
        <AkSkeleton @width='90px' @height='30px' @variant='rounded' />
        <AkSkeleton @width='90px' @height='30px' @variant='rounded' />
      </AkStack>
    </AkStack>
  </div>

  <AkStack @direction='column' class=''>
    <Storeknox::InventoryDetails::SectionHeader @color='white'>
      <AkStack
        @justifyContent='space-between'
        @alignItems='center'
        @width='full'
        class='py-1'
      >
        <AkSkeleton @variant='rectangular' @height='17px' @width='125px' />

        <AkSkeleton @variant='rectangular' @height='25px' @width='150px' />
      </AkStack>
    </Storeknox::InventoryDetails::SectionHeader>

    <Storeknox::InventoryDetails::SectionInfo
      @width='full'
      @spacing='1'
      @alignItems='center'
    >
      <AkSkeleton @variant='rectangular' @height='32px' @width='120px' />
      <AkSkeleton @variant='rectangular' @height='32px' @width='120px' />
      <AkSkeleton @variant='rectangular' @height='32px' @width='120px' />
    </Storeknox::InventoryDetails::SectionInfo>
  </AkStack>

  <AkStack @direction='column' class='my-3'>
    <Storeknox::InventoryDetails::SectionHeader
      @color='default'
      {{style height='40px'}}
    >
      <AkSkeleton @variant='rectangular' @height='17px' @width='125px' />
    </Storeknox::InventoryDetails::SectionHeader>

    <Storeknox::InventoryDetails::SectionInfo
      @width='full'
      @spacing='1'
      @direction='column'
    >
      {{#each (array 1 2 3) as |idx|}}
        {{#if (gt idx 1)}}
          <AkDivider @color='light' class='my-1' />
        {{/if}}

        <AkStack @alignItems='center' @width='full' @spacing='2.5'>
          <AkSkeleton @variant='rectangular' @height='17px' @width='150px' />

          <AkSkeleton @variant='rectangular' @height='17px' @width='130px' />
        </AkStack>
      {{/each}}
    </Storeknox::InventoryDetails::SectionInfo>
  </AkStack>
</PageWrapper>