.client-list-container {
  padding-top: 2rem;
}

.client-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 912px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 2000px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5rem;
}

.loading-error {
  display: flex;
  height: 7.5rem;
  background: #f6f7f9;
  border: 1px solid #ebedf1;
  border-radius: 0.3rem;
  color: #e7817a;
  align-items: center;
  justify-content: center;
}

.empty-data {
  display: flex;
  height: 7.5rem;
  background: #f6f7f9;
  border: 1px solid #ebedf1;
  border-radius: 0.3rem;
  color: #9ea4ad;
  font-style: italic;
  align-items: center;
  justify-content: center;
}
