.dynamicscan-automation-settings {
  width: 100%;
  @media (min-width: 992px) {
    width: 70%;
  }
}
.flag-label {
  background: lighten(#FFD642, 20%);
  border: 1px solid lighten(#FFD642, 10%);
  color: darken(#FFD642, 35%);
  border-radius: 0.2rem;
  padding: 0.08rem 0.4rem;
  font-size: 0.85em;
  margin-top: 0.2rem;
  margin-left: 0.6rem;
}
.flag-label-icon {
  font-size: 1em;
  margin-right: 0.3em;
  vertical-align: middle;
}
.script {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #f0f1f3;
  padding: 1rem;
  border-radius: 0.3rem;
}
.script-info{
  display: flex;
  flex-direction: column;
}
.script-icon {
  margin-right: 0.6rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.script-name {
  font-size: 1em;
  margin-bottom: 0.5rem;
  color: #111;
}
.script-invalid {
  margin-top: 1rem;
  color: #c14e44;
}
.script-invalid-icon {
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
}

