.container {
  width: 10rem;
  position: relative;
}

.check {
  display: flex;
  align-items: center;
  padding: 0.15rem 1rem 0.15rem 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  position: relative;
}

.inherited {
  border: 1px solid transparent;
  color: var(--black-300);
}

.overridden {
  border: 1px solid var(--tri-state-checkbox-border-color);
  background: var(--tri-state-checkbox-overridden-bg);
}

.reset-icon-btn-container {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-47%) translateX(50%);
}

.reset-icon {
  background-color: var(--tri-state-reset-icon-bg);
  border-radius: 100%;
}
