<div class='columns' data-test-gdpr={{@gdpr.id}}>
  <div class='column is-one-third' data-test-gdpr-code>{{@gdpr.code}}</div>
  <div class='column black-text' data-test-gdpr-title>{{@gdpr.title}}</div>
</div>