.ak-breadcrumb-auto-trail-item {
  width: fit-content !important;

  .breadcrumb-title,
  .separator {
    font-size: 0.929em;
    line-height: 1.286em;
    letter-spacing: -0.0176em;
    color: var(--ak-breadcrumbs-auto-trail-color-text-secondary);
  }

  .separator {
    margin-left: 0.24em;
    margin-right: 0.24em;
  }

  .ak-breadcrumb-auto-trail-item-link-text:hover,
  .ak-breadcrumb-auto-trail-item-link-text:focus,
  .ak-breadcrumb-auto-trail-item-link-text:active {
    background-color: transparent !important;
  }

  &:not(:last-of-type)
    .ak-breadcrumb-auto-trail-item-link-text:hover
    .breadcrumb-title {
    text-decoration: underline;
  }

  &:last-of-type {
    pointer-events: none;
  }

  &:last-of-type .ak-breadcrumb-auto-trail-item-link-text .breadcrumb-title {
    font-weight: var(--ak-breadcrumbs-auto-trail-font-weight-medium);
    color: var(--ak-breadcrumbs-auto-trail-color-text-primary);
  }

  &:last-of-type .separator {
    display: none;
  }
}
