.box-section-root {
  width: 100%;
  border: 1px solid var(--file-details-skeleton-loader-border-color);
  background-color: var(--file-details-skeleton-loader-background-color);
  box-sizing: border-box;

  .box-section-header,
  .box-section-item {
    padding: 0.75em 1.5em;
  }
}

.file-details-skeleton-container {
  max-width: 1200px;
  margin: 0 auto;
}

.scan-actions-status-card {
  min-width: 240px;
  max-width: 360px;
  flex: 1;
}
