.file-header {
  .file-in-active {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.app-details-card--header {
  height: fit-content !important;

  .tabs-wrapper,
  .tabs-container {
    height: 50px;
  }

  .tab-list,
  .tab-item a {
    height: 46px;
  }

  .tab-item {
    height: 44px;
  }
}
