.status-filter {
  width: 12.5em;
  background-color: var(
    --storeknox-inventory-pending-review-table-availability-filter-background-color
  );
  box-shadow: var(
    --storeknox-inventory-pending-review-table-availability-filter-box-shadow
  );
  border-radius: var(
    --storeknox-inventory-pending-review-table-availability-filter-border-radius
  );

  .filter-option:hover {
    background-color: var(
      --storeknox-inventory-pending-review-table-availability-filter-option-hover-background-color
    );
  }

  .clear-filter-section {
    background-color: var(
      --storeknox-inventory-pending-review-table-availability-filter-option-clear-filter-background-color
    );
  }

  .filter-header {
    background-color: var(--neutral-grey-100);
    padding: 0.5em 1em;

    .filter-header-text {
      text-transform: uppercase;
      font-size: 0.825rem !important;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
