.note {
  margin: -0.5em -0.5em 0.5em -0.5em;
  background: var(--privacy-module-app-details-note-bg-color);
  width: auto;
  position: sticky;
  top: -0.5em;
  z-index: 100;

  .icon-container {
    display: flex;
    padding: 0.714em 1.071em;
    color: var(--privacy-module-app-details-note-icon-color);

    &.warning-color {
      background-color: var(--privacy-module-app-details-note-warning-color);
    }

    &.success-color {
      background-color: var(--privacy-module-app-details-note-success-color);
    }
  }
}
