.bordered-box {
  width: 100%;
  border: 1px solid var(--file-details-insights-wrapper-border-color);
  background-color: var(--file-details-insights-wrapper-background-color);
  box-sizing: border-box;
}
