<div class='black-text bold font-medium'>
  {{@title}}
</div>

<div local-class='marketplace-card-logo'>
  <img src='{{@logo}}' alt='card-logo' />
</div>

<div local-class='marketplace-card-desc'>
  {{@text}}
</div>