<AkTypography @fontWeight='bold' local-class='marketplace-card-title'>
  {{@title}}
</AkTypography>

<div local-class='marketplace-card-logo'>
  <img src='{{@logo}}' alt='card-logo' />
</div>

<div local-class='marketplace-card-desc'>
  {{@text}}
</div>