.tabs-container {
  padding: 1em 1.5em 0 1.5em;
  background-color: var(--sbom-scan-details-component-details-tab-background);
  box-shadow: var(--sbom-scan-details-component-details-tab-box-shadow);
  position: sticky;
  top: 0;
  z-index: var(--sbom-scan-details-component-details-tab-zIndex);
}
