<div local-class="sso-authentication-container" ...attributes>
  <div local-class="title">
    SSO Authentication
  </div>
  <div local-class="configs">
    {{! TODO AKToggle has to be integrated }}
    {{#if @isSSOEnabled}}
      {{! TODO AkCheckbox has to be integrated }}
    {{/if}}
  </div>
</div>
