.status {
  padding: 4px 6px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: -0.4px;
}

.status.not-found {
  color: #a3332c;
  background: #f8b5b9;
}
.status.not-initiated {
  background: #fff7d7;
  color: #a5872d;
}
.status.completed {
  color: #2e9940;
  background: #e9f5ed;
}
