<div data-test-nf-subexp-primary-message>
  <AkTypography>
    {{t
      'notificationModule.messages.nf-sk-subexp'
      sub_expiry_date=this.subscriptionExpiryDate
      htmlSafe=true
    }}
  </AkTypography>
</div>