.fake-apps-details-root {
  position: sticky;
  z-index: 10;
  top: -0.5em;
  background-color: var(--storeknox-inventory-details-header-background-color);

  &.is-ignored {
    top: calc(-0.5em + 44px);
    margin-bottom: calc(1.5em + 1.4286em) !important;
  }

  .fake-app-title-container {
    border: 1px solid
      var(--storeknox-inventory-details-section-info-root-border-color);
    border-bottom: none;

    .title-indicator {
      width: 14px;
      height: 14px;
      background-color: #b11146;
      border-radius: var(--border-radius);

      &.brand-abuse {
        background-color: #114db5;
      }
    }
  }

  .fake-apps-details-header-app-info-container {
    background-color: var(
      --storeknox-inventory-details-section-info-root-bg-color
    );

    border: 1px solid
      var(--storeknox-inventory-details-section-info-root-border-color);
  }

  .app-info-logo {
    border-radius: 100%;
    object-fit: contain;
    width: 58px;
    height: 58px;
    border: 1px solid
      var(--storeknox-inventory-details-header-app-logo-border-color);
  }

  .app-info-container {
    padding: 1.1429em 1.7143em;
  }

  .store-logo-container {
    min-height: 32px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #e9e9e9;
  }
}

.findings-card-container {
  &.is-ignored {
    background-color: #f1f1f1 !important;
  }
}

.findings-card-divider {
  align-self: center;
  width: calc(100% - 3em) !important;
}
