.scan-status-card {
  border: 1px solid var(--file-details-scan-actions-border-color);
  background-color: var(--file-details-scan-actions-background-color);
  min-width: 240px;
  max-width: 360px;
  flex: 1;
}
