.dast-scenario-table {
  tbody tr {
    border: 1px solid var(--neutral-grey-200);
    border-top: none;
    cursor: pointer;
  }

  tbody tr td:last-of-type,
  thead tr th:last-of-type {
    padding-right: 2em;
  }
}
