.reactivate-form
  &.success
    .email-form
      display: none
    .confirm-box
      display: flex

  .confirm-box
    display: none
    &-icon
      font-size: 3em
      margin: auto
    &-text
      margin-top: -10px
      font-size: 1.2em
      padding: 1em 1em 0

.is-success
  color: $success
