.cyod-viewer-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cyod-canvas {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;

  &.hidden {
    display: none;
  }
}
