.compare-table {
  width: 70%;
  margin: auto;
  .table-head {
    background-color: lighten(#424651, 5%);
    td {
      position: relative;
      vertical-align: middle;
      color: #fff;
      font-weight: 100;
    }
  }
  td {
    text-align: center;
    border: 1px solid lighten(rgb(107, 107, 107), 30%);
  }
  td:nth-child(1), td:nth-child(2){
    width: 20%
  }
  td:nth-child(3) {
    width: 80%
  }
}
