.type-filter {
  width: 12.5em;
  background-color: var(--sbom-scanDetails-componentList-typeHeader-background-color);
  box-shadow: var(--sbom-scanDetails-componentList-typeHeader-box-shadow);
  border-radius: var(--sbom-scanDetails-componentList-typeHeader-border-radius);

  .filter-option:hover {
    background-color: var(--sbom-scanDetails-componentList-typeHeader-filter-option-hover-background-color);
  }

  .clear-filter-section {
    background-color: var(--sbom-scanDetails-componentList-typeHeader-filter-option-clear-filter-background-color);
  }

  .filter-header {
    background-color: var(--sbom-scanDetails-componentList-typeHeader-filter-header-background-color);
    padding: 0.5em 1em;

    .filter-header-text {
      text-transform: uppercase;
      font-size: 0.825rem !important;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
