.note {
  margin: -0.5em -0.5em 0.5em -0.5em;
  background: var(--ak-notification-banner-bg-color);
  width: auto;
  position: sticky;
  top: -0.5em;
  z-index: 100;
  border-bottom: 1px solid var(--ak-notification-banner-border-color);

  .icon-container {
    display: flex;
    padding: 0.714em 1.071em;
    color: var(--ak-notification-banner-icon-color);

    &.warning-color {
      background-color: var(--ak-notification-banner-warning-color);
    }

    &.success-color {
      background-color: var(--ak-notification-banner-success-color);
    }
  }

  .message-number-indicator {
    border: 1px solid var(--ak-notification-banner-divider-color);
    border-radius: var(--ak-notification-banner-border-radius);
    padding: 0.214em 0.57em;
    margin: 0 0.5em;
    white-space: nowrap;
  }

  .vertical-divider {
    width: 1px;
    height: 1.714em;
    background-color: var(--ak-notification-banner-divider-color);
    margin: 0 0.428em 0 1.14em;
  }
}
