.empty-container {
  padding-top: 5em;
  padding-bottom: 5em;
  border: 1px solid var(--storeknox-inventory-app-list-table-empty-border-color);
  background-color: var(--storeknox-inventory-app-list-table-empty-color);
  border-top: 0;

  .header {
    margin-top: 1.5625em;
  }

  .body-text {
    text-align: center;
    max-width: 550px;
  }
}
