.analysis-risk-text-critical {
  color: var(--analysis-risk-color-critical);
}

.analysis-risk-text-high {
  color: var(--analysis-risk-color-high);
}

.analysis-risk-text-medium {
  color: var(--analysis-risk-color-medium);
}

.analysis-risk-text-low {
  color: var(--analysis-risk-color-low);
}

.analysis-risk-text-passed {
  color: var(--analysis-risk-color-passed);
}

.analysis-risk-text-untested {
  color: var(--analysis-risk-color-none);
}
