<div class='px-3 py-2'>
  <Textarea
    data-test-manualScan-additionalCommentInput
    id='manual-scan-additional-comments'
    class='textarea-input mt-1'
    rows='5'
    @value={{@manualscan.additionalComments}}
  />
</div>