.textarea-input {
  border: 1px solid
    var(
      --file-details-manual-scan-request-form-additional-comments-textarea-border-color
    );
  border-radius: var(
    --file-details-manual-scan-request-form-additional-comments-textarea-border-radius
  );
  color: var(--file-details-manual-scan-request-form-additional-comments-textarea-color);
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75em;
  max-width: 100%;
  width: 100%;
}