.no-result-container {
  height: 350px;
}

.loading-container {
  width: 100%;
  background: var(--organization-namespace-loading-container-background);
  border: 1px solid var(--organization-namespace-loading-container-border);
  border-radius: var(--organization-namespace-loading-container-border-radius);
  padding: 2em;

  .loading-text {
    font-style: italic;
  }
}
