.no-result-container {
  height: 350px;
  background-color: var(--organization-namespace-container-background);
}

.loading-container {
  width: 100%;
  background: var(--organization-namespace-container-background);
  border: 1px solid var(--organization-namespace-loading-container-border);
  border-radius: var(--organization-namespace-loading-container-border-radius);
  padding: 2em;

  .loading-text {
    font-style: italic;
  }
}

.organization-namespace-table-container {
  background-color: var(--organization-namespace-container-background);
}
