.subscription-page-header {
  border: 1px solid var(--license-detail-border-color);
  background-color: var(--license-detail-background-color);
  padding: 1.142em 1.714em;
  margin: 1.428em 0;
}

.subscription-page-body {
  background-color: var(--license-detail-background-color);
  padding: 1.142em 1.714em;
}

.key-width {
  width: 15%;
}
