.app-details-table-wrapper {
  overflow-x: auto;

  .app-details-table-container {
    min-width: 1000px;

    .app-details-table {
      td:first-child {
        border-left: none !important;
      }

      td:last-child {
        border-right: none !important;
      }

      .table-row {
        height: 5.5714em !important;
      }
    }
  }
}
