.login-details-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
  box-sizing: border-box;

  .login-details-label {
    flex: 1;
  }

  .login-details-input-container {
    flex: 1;
    max-width: 200px;
  }
}
