// NOTE: Duplicate of app.sass, need to be fixed after UX changes
.table-data {
  text-align: center;
  border: 2px solid var(--bg-gray-darken-040) !important;
  vertical-align: middle;
  text-align: center;
}
