<table>
  <thead>
    <tr>
      <td colspan="2" local-class="table-data" data-test-copy-password-title>
        {{t 'reportPassword'}}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr
      class="copy-password"
      data-clipboard-text="{{@pdfPassword}}"
      data-test-copy-password-clipboard-value
    >
      <td local-class="table-data" data-test-copy-password-value>
        {{@pdfPassword}}
      </td>
      <td local-class="table-data" data-test-copy-password-label>
        <AkIcon @iconName="content-paste" @size="small" />
        {{t 'copy'}}
      </td>
    </tr>
  </tbody>
</table>
