<table>
  <thead>
    <tr>
      <td colspan="2" local-class="table-data" data-test-copy-password="label">
        {{t "reportPassword"}}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr
      class="copy-password"
      data-clipboard-target="#copy-password"
      data-test-copy-password="clipboard-target"
    >
      <td
        id="copy-password"
        value="pdfPassword"
        local-class="table-data"
        data-test-copy-password="value"
      >
        {{@pdfPassword}}
      </td>
      <td local-class="table-data" data-test-copy-password="copy">
        {{fa-icon "clipboard copy-icon"}}
        {{t "copy"}}
      </td>
    </tr>
  </tbody>
</table>
