.script-details-container {
  box-shadow: var(
    --project-settings-general-settings-dynamicscan-automation-settings-box-shadow
  );
  border-radius: var(
    --project-settings-general-settings-dynamicscan-automation-settings-border-radius
  );
  border: 1px solid
    var(
      --project-settings-general-settings-dynamicscan-automation-settings-border-color
    );

  .script-file-details {
    border-top: 1px solid
      var(
        --project-settings-general-settings-dynamicscan-automation-settings-border-color
      );

    .text-with-icon {
      gap: 0.2587em;
    }
  }
}
