.app-details-container {
  padding-bottom: 1.3571em;

  .app-details-wrapper {
    padding: 1.4286em;
    border: 1px solid var(--appmonitoring-details-border-color);
    margin-bottom: 1.5714em;

    .overview-container {
      height: fit-content;
      margin-bottom: 1.4286em;

      .overview-icons {
        margin-bottom: 0.857em;

        .platform-icon {
          border: 1px solid var(--appmonitoring-details-border-color);
          border-radius: var(--appmonitoring-border-radius);
          width: 2.714em;
          height: 2.714em;
        }

        img {
          width: 1.7143em;
          height: 1.7143em;
        }

        .platform-icon {
          i::before {
            font-size: 1.714rem;
          }
        }

        .platform-android {
          color: var(--appmonitoring-platform-android-color);
        }

        .platform-apple {
          color: var(--appmonitoring-platform-ios-color);
        }
      }

      .monitoring-toggle-container {
        border-left: 1px solid var(--appmonitoring-details-toggle-border-color);
        padding-left: 1.214em;

        .monitoring-toggle {
          margin: 0em;

          & > input:disabled {
            cursor: not-allowed;
          }
        }
      }
    }

    .monitoring-details-container {
      width: 100%;

      .monitoring-details-group {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 400px);

        &:first-of-type {
          border-bottom: 1px solid var(--appmonitoring-details-border-color);
          padding-bottom: 0.6428em;
          margin-bottom: 0.6428em;
        }
      }

      .details-header,
      .details-value {
        letter-spacing: -0.02857em;
      }

      .details-header {
        display: flex;
        min-width: 152px;
        margin-right: 1.4286em;
      }

      .details-value {
        color: var(--appmonitoring-color-black);
      }
    }
  }

  .app-details-tabs {
    width: 100%;
  }
}
