.domain-list {
  display: flex;
  flex-flow: wrap;
  column-gap: 0.95rem;
}

.domain {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  background-color: var(--bg-gray-darken-040);
  color: var(--black-750);
  padding: 0 0.5rem;
  border-radius: 5px;
}

.delete {
  border: none;
}

.domain-input-item {
  column-gap: 1rem;
}

.save-btn {
  height: 3em;
}
