.title {
  color: #171717;
  font-size: 1.1rem;
  font-weight: bold;
}

.desc {
  font-size: 0.93rem;
  padding-top: 0.5em;
  color: #7b7b7b;
}

.domain-list {
  display: flex;
  flex-flow: wrap;
  column-gap: 1em;
  margin-top: 0.85em;
}

.domain-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  column-gap: 0.5em;
  color: #171717;
  height: 2.3em;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  padding: 0 0.3em;
}

.domain-remove {
  color: #171717;
  height: inherit;
  display: flex;
  align-items: center;
  &:hover {
    color: #171717;
  }
}

.domain-input-item {
  margin: 0.85em 0;
  display: flex;
  column-gap: 1em;
}

.no-domains-added {
  box-shadow: 0px 2px 6px rgba(64, 64, 64, 0.15);
  border-radius: 3px;
  display: flex;
  padding: 1.6em 2em;
  align-items: center;
}

.no-domain-desc {
  display: flex;
  flex-flow: column;
  row-gap: 0.5em;
}

.no-domain-desc-title {
  color: #171717;
  font-weight: 600;
  font-size: 1rem;
}

.no-domain-desc-exp {
  color: #7b7b7b;
  font-weight: 0.9rem;
}
