<span
  data-test-fileDetailsSummary-fileOverview-appPlatform
  local-class='app-platform-icon-{{this.platformIconClass}}'
>
  {{fa-icon this.platformIconClass local-class='app-platform-icon'}}
</span>