<span
  data-test-fileDetailsSummary-fileOverview-appPlatform
  local-class='app-platform-icon-{{this.platformIconClass}}'
>
  <AkIcon @iconName={{this.platformIconName}} local-class='app-platform-icon' />
</span>