.app-platform-icon-apple {
  color: var(--file-details-summary-app-platform-color-ios);
}

.app-platform-icon-android {
  color: var(--file-details-summary-app-platform-color-android);
}

.app-platform-icon {
  font-size: 1.25rem;
  vertical-align: unset;
}
