.left-container-width {
  .search-container-width {
    width: 200px;
  }

  width: 320px;
}

.search-package-name-input {
  font-size: 0.857rem !important;
}

.header-home-page {
  background-color: var(--project-list-header-background-color);
  border: 1px solid var(--project-list-header-border-color);
  border-radius: var(--project-list-header-border-radius);
}

.header-home-page-title {
  padding: 1em 1.285em;
}

.header-home-page-sorting-filter {
  padding: 0.785em 1.285em;
}

.select-team-class {
  padding-left: 0.714em;
}

.select-scan-type-class {
  padding-left: 0.714em;
}

.filter-input {
  border-color: var(--project-list-header-filter-border-color) !important;
  padding: 0px 8px !important;

  :global(.ember-power-select-status-icon) {
    display: none;
  }

  &:hover {
    border-color: var(
      --project-list-header-filter-hover-border-color
    ) !important;
  }
}

.divider {
  margin: 0 0.714em;
}

.clear-filter-label {
  font-size: 0.857rem !important;
  text-decoration: underline;
  color: var(--project-list-header-clear-filter-color) !important;
}

.clear-filter-icon {
  margin-right: 0.2em;
  color: var(--project-list-header-clear-filter-color) !important;
}

.clear-filter:hover {
  box-shadow: none;

  &:hover {
    .clear-filter-icon,
    .clear-filter-label {
      color: var(--project-list-header-clear-filter-hover-color) !important;
    }
  }
}

.filter-input-dropdown {
  min-width: max-content !important;

  :global(.ember-power-select-option) {
    background-color: var(--project-list-header-background-color) !important;
    padding: 0.5em 0.75em !important;

    &[aria-current='true'] {
      background-color: var(
        --project-list-header-filter-option-hover-background
      ) !important;
    }
  }

  :global(.ember-power-select-options) {
    padding: 0 !important;
  }
}

.switch-button {
  border-color: var(--project-list-header-button-border-color) !important;

  &.active {
    background-color: var(--project-list-header-active-background-color);
  }

  &.list {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  &.card {
    border-right: 0px !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.column-manager-button {
  border-color: var(--project-list-header-button-border-color) !important;
}

.clear-filter-section {
  padding: 0.57em 1.285em;
  border-bottom: 1px solid var(--project-list-header-clear-filter-border-color);
}
