.threshold-risk-label {
  padding: 0.2587em 0.4286em;
  width: fit-content;
}

.threshold-risk-divider {
  display: flex;
  width: 1px;
  height: 30px;
  background-color: var(
    --project-settings-general-settings-jira-project-background-color
  );
  margin-left: 0.7143em;
  margin-right: 0.7143em;
}
