<AkStack @direction='column' @spacing='1'>
  <AkTypography data-test-nf-str-url-upldfailnsunaprv1-primary-message>
    {{t
      'notificationModule.messages.nf-str-url-upldfailnsunaprv1'
      htmlSafe=true
      store_name=(store-name-for-url @context.store_url)
    }}
  </AkTypography>

  <div data-test-nf-str-url-upldfailnsunaprv1-link>
    <AkButton
      @tag='a'
      @variant='text'
      @color='primary'
      @underline='always'
      target='_blank'
      href={{@context.store_url}}
      rel='noopener noreferrer'
    >
      {{t 'notificationModule.viewAppOnStore'}}
    </AkButton>
  </div>
</AkStack>