.file-overview-header {
  background-color: var(--file-overview-background-grey);
  border-bottom: 1px solid var(--file-overview-border-color-dark);
  padding: 1em 1.285em;

  .open-in-new-tab-link-class {
    display: inline-flex;
  }

  .open-in-new-tab-link:hover::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: var(--file-overview-open-in-new-icon-background-color);
  }
}

.card-more-menu-item-group {
  padding: 0 0.5em;
  padding-bottom: 0.5em;

  &:not(:first-child) {
    padding-top: 0.5em;
  }
}

.card-more-menu-item {
  a {
    padding: 0.5em !important;
  }
}
