.scenario-edit-footer-container {
  box-shadow: var(
    --project-settings-dast-automation-scenario-view-v2-edit-scenario-footer-box-shadow
  );
}

.scenario-name-form-control {
  min-width: 420px;
  background-color: var(
    --project-settings-dast-automation-scenario-view-v2-edit-scenario-textfield-bg
  );
}
