.file-report-btn {
  display: flex;
  column-gap: 0.8rem;

  .btn-container {
    column-gap: 0.8rem;
    position: relative;

    .progress-loader {
      position: absolute;
      width: 0%;
      height: 100%;
      background-color: var(--primary);
      bottom: 0;
      left: 0;
      opacity: 0.2;
    }
  }

  .report-list-dropdown {
    .dd-trigger {
      height: inherit;
      border-radius: 0.4em;
      margin-bottom: 0.3em;
      border: 1px solid var(--primary);
      color: var(--primary);
      padding: 0 0.6em;
      cursor: pointer;

      .toggle-icon {
        height: inherit;
        line-height: inherit;
      }
    }

    .prev-report {
      .prev-report-item {
        display: flex;
        flex-flow: column;
        padding: 0.3rem;
        width: max-content;
        align-items: center;
        justify-content: left;
        box-shadow: 0px 0px 6px 1px var(--black-400);
        cursor: pointer;

        .download-pre-report {
          color: var(--black);
        }

        .generated-label {
          font-size: 0.9rem;
          color: var(--black-400);
        }
      }
    }
  }
}
