.header-app-moitoring-page {
  border: 1px solid var(--appmonitoring-skeleton-loader-header-border-color);
  border-radius: var(--appmonitoring-skeleton-loader-header-border-radius);
  padding-top: 0.714em;

  .header-app-moitoring-page-title {
    padding: 1em 1.285em;
  }
}

.header-app-moitoring-page-sorting-filter {
  padding: 0.785em 1.285em;
}

.app-monitoring-table-container {
  margin-top: 1.25em;
}
