<AkStack
  @width='full'
  @direction='column'
  local-class='header-app-moitoring-page'
>
  <AkStack
    @width='full'
    @justifyContent='space-between'
    @alignItems='center'
    @spacing='1.5'
    local-class='header-app-moitoring-page-title'
  >
    <AkStack @direction='column' @spacing='0.5'>
      <AkSkeleton @width='100px' @height='20px' class='mb-1' />

      <AkSkeleton @width='650px' @height='15px' />

      <AkSkeleton @width='250px' @height='15px' />
    </AkStack>

    <AkSkeleton @width='35px' @height='16px' />
  </AkStack>

  <AkDivider @color='dark' />

  <AkStack
    @alignItems='center'
    @justifyContent='space-between'
    @width='full'
    local-class='header-app-moitoring-page-sorting-filter'
  >
    <AkSkeleton @width='115px' @height='32px' />

    <AkSkeleton @width='200px' @height='30px' />
  </AkStack>
</AkStack>

<div local-class='app-monitoring-table-container'>
  <AppMonitoring::Loading @loadingText='{{t "loading"}}...' />
</div>