.drawer-content-container {
  height: 100%;
  box-sizing: border-box;
}

.invite-drawer-content {
  padding: 1em;
  height: 100%;
  width: 400px;
  overflow-y: auto;
}

.invite-drawer-footer {
  box-shadow: 0px -4px 8px 4px rgba(0, 0, 0, 0.03);
}
