<div class="columns">
  <div class="column is-one-third">
    {{cwe.code}}
  </div>
  <div class="column black-text">
    <a href="{{cwe.url}}" target="_blank">
      {{cwe.url}}
    </a>
  </div>
</div>