.container {
  height: 100vh;
}

.inner-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
}

.register-title {
  margin: 1.5em 0em 0em 0em;
}

.spacing {
  padding: 0em 3em 0em 3em;
  min-width: 30em;
}

@mixin bg-register {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.08),
    0 5px 15px 0 rgba(0, 0, 0, 0.12);
  margin: 1em 1em 3em 1em;
}

.register-form {
  @include bg-register;
  min-width: 42em;
}

.register-form-accept span {
  margin-left: 0.7em;
}

.checkbox-field {
  display: inline-block;
}

.register-button {
  width: 100%;
  height: 3em;
  margin-bottom: 3em;
}
