.registration-container {
  padding: 2em 0;
  padding-bottom: 7em;
  display: flex;
  justify-content: center;
  background-color: #424651;
}
.register-form {
  width: 40em;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
  padding: 1em;
  &-accept span {
    margin-left: 0.7em
  }
  .checkbox-field {
    display: inline-block
  }
}
