.dynamic-scan-accent {
  width: 100%;
  height: 4px;
  flex-shrink: 0;
}

.dynamic-scan-accent-pending {
  background-color: var(
    --file-details-scan-actions-knoxiq-accent-pending-color
  );
}

.dynamic-scan-accent-done {
  background-color: var(
    --file-details-scan-actions-knoxiq-accent-completed-color
  );
}

.view-details-icon {
  justify-content: left;

  :global(.ak-icon) {
    font-size: 1.5rem !important;
  }
}
