.btn {
  height: 2.5rem;
  padding: 0.57em 0.85em;
  border-radius: 0.21em;
  font-size: 1.14rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5em;
  line-height: 2;
  cursor: pointer;
  border: 1px solid var(--primary);

  span {
    font-size: 1.2rem;
  }

  &:disabled {
    opacity: 1;
    cursor: not-allowed;
  }
}
.primary {
  background-color: var(--primary-tone-90);
  color: var(--white);
  border: 1px solid var(--primary-tone-90);

  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
  }

  &:disabled {
    background-color: var(--primary-tone-60);
    border-color: var(--primary-tone-60);
  }

  &.transparent-bg {
    background-color: var(--white);
    color: var(--primary);
    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }
  }
}

.secondary {
  background-color: var(--secondary-tone-90);
  color: var(--white);
  border: 1px solid var(--secondary-tone-90);

  &:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--white);
  }

  &:disabled {
    background-color: var(--secondary-tone-60);
    border-color: var(--secondary-tone-60);
  }

  &.transparent-bg {
    background-color: var(--white);
    color: var(--secondary);
    &:hover {
      background-color: var(--secondary);
      color: var(--white);
    }
  }
}
