.switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1.14rem;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .slider {
    background-color: var(--green-approval);
  }
  &:focus + .slider {
    box-shadow: var(--green-approval);
  }

  &:checked + .slider::before {
    $translateX: 0.78rem;
    -webkit-transform: translateX($translateX);
    -ms-transform: translateX($translateX);
    transform: translateX($translateX);
  }

  &:disabled + .slider {
    cursor: not-allowed;
    opacity: 0.8;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black-shade-8);
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &::before {
    position: absolute;
    content: '';
    height: 1rem;
    width: 1rem;
    left: 0.14rem;
    right: 0.14rem;
    bottom: 0.14rem;
    top: 0.07rem;
    bottom: 0.07rem;
    background-color: var(--white);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &.round {
    border-radius: 0.57rem;

    &::before {
      border-radius: 50%;
    }
  }
}
