.storeknox-inventory-details-section-header-root {
  height: 46px;
  border: 1px solid
    var(--storeknox-inventory-details-section-header-root-border-color);

  border-bottom: 0px;

  &.default {
    background: var(
      --storeknox-inventory-details-section-header-default-bg-color
    );
  }

  &.white {
    background-color: var(
      --storeknox-inventory-details-section-header-white-bg-color
    );
  }
}
