.original-app-details-wrapper {
  align-self: stretch;
  border: 1px solid
    var(--storeknox-inventory-details-section-info-root-border-color);

  .original-app-details-container {
    position: sticky;
    top: 312px;

    .original-app-details-header-indicator {
      width: 16px;
      height: 16px;
      background-color: #2db421;
      border-radius: 3px;
    }

    .original-app-details-label-text {
      min-width: 160px;
    }

    .app-info-logo {
      border-radius: 100%;
      object-fit: contain;
      width: 38px;
      height: 38px;
      border: 1px solid
        var(--storeknox-inventory-details-header-app-logo-border-color);
    }
  }
}
