.query-container {
  border-radius: var(--border-radius);
  padding: 1em;
  background-color: var(--background-main);
}

.preview-container {
  background-color: var(--background-main);
}

.report-preview {
  height: calc(100vh - 150px);
  max-height: 1000px;
}

.report-preview-table {
  table {
    table-layout: auto;

    thead tr th,
    tbody tr td {
      width: auto !important;
      min-width: 150px !important;
      max-width: 600px !important;
    }
  }
}
