<div local-class='project-card'>
  <span class='margin-l-q platform-icon--{{@project.platformIcon}}'>
    {{fa-icon @project.platformIcon}}
  </span>
  <span class='black-text'>{{@project.packageName}}</span>
</div>