<AkStack local-class='project-card' @alignItems='center'>
  <AkIcon
    @iconName='{{@project.platformIcon}}'
    class='platform-icon--{{@project.platformIcon}}'
  />
  <span class='black-text'>{{@project.packageName}}</span>
</AkStack>