.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color-1);
  border-radius: 0.3rem;
  background-color: var(--background-light);
  padding: 1rem;
  gap: 0.5rem;
}
