.storeknox-upselling-root {
  margin-top: 4.4286em;
  border: 1px solid #e9e9e9;

  .storeknox-upselling-illustration {
    height: 255px;
    background-color: #fe4d3f0d;
    padding: 2.8571em;
  }

  .storeknox-upselling-features {
    padding: 4.4286em;
    padding-bottom: 3.4286em;
    padding-top: 2em;
  }
}
