.storeknox-upselling-root {
  margin-top: 4.4286em;
  border: 1px solid var(--storeknox-upselling-ui-border-color);

  .storeknox-upselling-illustration {
    height: 255px;
    background-color: var(--storeknox-upselling-ui-background-color);
    padding: 2.8571em;
  }

  .storeknox-upselling-features {
    padding: 4.4286em;
    padding-bottom: 3.4286em;
    padding-top: 2em;
  }
}
