.ak-accordion-root {
  &,
  .details,
  .summary {
    width: 100%;
  }

  .details {
    height: auto;
    overflow: hidden;
    will-change: max-height;
    transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .summary {
    cursor: pointer;
    border: 1px solid;
    padding: 0.7857em 1.4285em;

    &.primary {
      background-color: var(--ak-accordion-summary-primary-background);
      border-color: var(--ak-accordion-summary-primary-border-color);
    }

    &.secondary,
    &.disabled {
      background-color: var(--ak-accordion-summary-secondary-background);
      border-color: var(--ak-accordion-summary-secondary-border-color);
    }

    &.disabled {
      cursor: not-allowed;
    }

    .summary-expand-icon {
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transform: rotate(0deg);

      &.expanded {
        transform: rotate(-180deg);
      }
    }
  }
}
