{{page-title "Namespaces"}}
<div class="org-container">
  <div class="columns margin-v-h">
    <div class="column">
      <h3 class="bold black-text">
        {{t "namespaces"}}
      </h3>
    </div>
  </div>
  <div class="columns">
    <OrganizationNamespaceList @organization={{@model}}></OrganizationNamespaceList>
  </div>
</div>
