<div>
  Your
  {{@context.platform_display}}
  app upload of
  {{@context.namespace_value}}
  <strong>failed due to non-existent namespace</strong>. New namespace request
  has been submitted to your organization owner for approval.
</div>