.request {
  display: grid;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.3rem 0.8rem;
  grid-template-columns: 1fr 20% 15% 15% 3.6rem;
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 30% 10rem 10rem 3.6rem;
  }
}

.undo-icon {
  color: var(--severity-high) !important;
}
