.rejected-request {
  display: grid;
  grid-template-columns: 1fr 20% 15% 15% 10%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.email {
  color: #3b3f49;
  font-weight: 600;
  word-break: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  padding-right: 3rem;
}
.name {
  word-break: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  padding-top: 0.3rem;
  padding-right: 3rem;
  font: 0.9rem;
}
.company {
  word-break: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  padding-right: 2rem;
}
.date {
  font-style: italic;
  font-size: 0.9rem;
}
