.switcher {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.collapsed {
    justify-content: center;
  }
}

.switcher-menu-tooltip {
  display: flex;
  width: 100%;
  padding: 1em;

  &.collapsed {
    justify-content: center;
  }

  &:hover {
    background-color: var(--side-nav-product-switcher-item-hover-background);
  }
}

.switcher-menu-container {
  margin-left: 0.8em; // offset for arrow
  border: var(--side-nav-product-switcher-border);
  box-shadow: var(--side-nav-product-switcher-box-shadow);
  min-width: 200px;
  max-width: 220px;
  background-color: var(--side-nav-product-switcher-bg-main);
  
  .switcher-menu-item {
    width: 100%;
    margin: 0.2em 0;
    padding: 0.75em 1em;
    justify-content: flex-start;
  
    &:hover {
      background-color: var(--side-nav-product-switcher-item-hover-background);
    }
  }
  
  .switcher-menu-title {
    text-transform: uppercase;
    font-size: 0.857rem;
    padding: 1.2em;
    background-color: var(--side-nav-product-switcher-modal-title-background);
    border-bottom: var(--side-nav-product-switcher-border);
  }

  .switcher-menu-item-icon {
    height: 24px;
    width: 24px;
  }
}
  
.switcher-popover-arrow {
  &::before {
    background-color: var(--side-nav-product-switcher-modal-title-background);
  }
}  