.status-container {
  background-color: var(--storeknox-fake-apps-fake-apps-list-background-color);
  border: 1px solid var(--storeknox-fake-apps-fake-apps-list-border-color);
  border-radius: var(--storeknox-fake-apps-fake-apps-list-border-radius);
  height: 300px;
}

.info-text {
  background-color: var(--storeknox-fake-apps-fake-apps-list-background-color);
  border-color: var(--storeknox-fake-apps-fake-apps-list-border-color);
  border-width: 0px 1px;
  border-style: solid;
}
