<div local-class='settings-block'>
  <div local-class='label-group'>
    <h6 local-class='label-heading'>Store Monitoring Setting</h6>
    <p local-class='label-description'>Once enabled, our platform will monitor
      for any unscanned versions of your applications on Playstore or Appstore.
      If any such applications are found, the list below will be updated
      automatically.</p>
  </div>

  <AkToggle
    @size='small'
    @checked={{@settings.enabled}}
    @disabled={{not this.canEditSettings}}
    {{on 'click' (perform this.toggleAppMonitoringEnabled)}}
  />
</div>