.settings-block {
  display: flex;
  width: 100%;
  padding: 1em 1.5em;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border: 1px solid var(--neutral-white-100);
  box-sizing: border-box;

  .label-group {
    width: 80%;

    .label-heading {
      font-weight: 700;
      font-size: 16px;
      color: var(--text-primary-color);
      margin-bottom: 8px;
    }

    .label-description {
      color: var(--text-secondary-color);
      font-weight: 400;
      font-size: 13px;
    }
  }
}
