<div
  local-class='fake-apps-details-root'
  class='w-full mb-3 pt-2'
  ...attributes
>
  {{! Breadcrumbs }}
  <div {{style height='38px'}} class='pb-3'>
    <AkSkeleton @width='250px' @height='16px' @variant='rounded' />
  </div>

  {{! App Info Container }}
  <AkStack
    @bgColor='white'
    @width='full'
    @justifyContent='space-between'
    @spacing='1'
    local-class='fake-apps-details-header-app-info-container'
    class='p-3'
  >
    <AkStack @direction='row' @spacing='2' @alignItems='center'>
      {{! App Logo }}
      <AkSkeleton @width='58px' @height='58px' @variant='circular' />

      <AkStack @spacing='0.75' @direction='column' @alignItems='flex-start'>
        {{! App Title }}
        <AkSkeleton
          @width='200px'
          @height='1.5rem'
          @variant='rounded'
          class='mt-1'
        />

        {{! Package Name • Developer Name }}
        <AkSkeleton @width='280px' @height='1rem' @variant='rounded' />
      </AkStack>
    </AkStack>

    {{! Action Buttons }}
    <AkStack
      @alignItems='center'
      @justifyContent='flex-end'
      @spacing='1.5'
      {{style alignSelf='flex-end'}}
    >
      <AkSkeleton @width='110px' @height='36px' @variant='rounded' />
      <AkSkeleton @width='180px' @height='36px' @variant='rounded' />
    </AkStack>
  </AkStack>

  {{! Chips Row }}
  <AkStack
    @bgColor='white'
    @width='full'
    @direction='column'
    @spacing='1'
    local-class='fake-app-detail-container'
  >
    <AkStack @spacing='1' @alignItems='center'>
      {{! Title Chip }}
      <AkSkeleton @width='60px' @height='30px' @variant='rounded' />

      {{! Platform Chip }}
      <AkSkeleton @width='90px' @height='30px' @variant='rounded' />

      {{! Store Chip }}
      <AkSkeleton @width='60px' @height='30px' @variant='rounded' />
    </AkStack>
  </AkStack>
</div>