.health-score-value {
  align-items: baseline;

  .health-score-value-score,
  .health-score-value-max {
    font-size: 2.5rem;
    color: #fff;
  }

  .health-score-value-max {
    opacity: 0.7;
  }
}

.health-score-scoring-details-btn {
  color: rgba(255, 255, 255, 0.7) !important;

  &:hover {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  & button,
  & span,
  & a,
  & * {
    color: rgba(255, 255, 255, 0.7) !important;
    text-decoration-color: rgba(255, 255, 255, 0.7) !important;
  }

  &:hover button,
  &:hover span,
  &:hover a,
  &:hover * {
    color: rgba(255, 255, 255, 0.7) !important;
    text-decoration-color: rgba(255, 255, 255, 0.7) !important;
  }
}

.health-score-title {
  color: rgba(255, 255, 255, 0.7) !important;
}

.health-score-status-chip {
  color: var(
    --file-details-severity-level-health-score-status-chip-text-color
  ) !important;
}

.health-score-status-chip--very-poor {
  background-color: var(
    --file-details-severity-level-health-score-status-chip-bg-very-poor
  ) !important;
}

.health-score-status-chip--poor {
  background-color: var(
    --file-details-severity-level-health-score-status-chip-bg-poor
  ) !important;
}

.health-score-status-chip--fair {
  background-color: var(
    --file-details-severity-level-health-score-status-chip-bg-fair
  );
}

.health-score-status-chip--good {
  background-color: var(
    --file-details-severity-level-health-score-status-chip-bg-good
  ) !important;
}

.health-score-status-chip--excellent {
  background-color: var(
    --file-details-severity-level-health-score-status-chip-bg-excellent
  ) !important;
}

.health-score-root {
  height: 100%;
  padding: 1.714em;
  box-sizing: border-box;
  border: 1px solid var(--file-details-severity-level-health-score-border-color);
  border-radius: var(--file-details-severity-level-health-score-border-radius);
}

.health-score-compact {
  height: 100%;

  .health-score-compact-box {
    flex: 1;
    padding: 1.714em;
    box-sizing: border-box;
    border: 1px solid
      var(--file-details-severity-level-health-score-border-color);
    border-radius: var(
      --file-details-severity-level-health-score-border-radius-compact
    );
  }
}
