.file-overview-statuses {
  background: var(--file-compare-file-overview-background-grey);
  border: 1px solid var(--file-compare-file-overview-border-color-dark);
  border-left: none;
  border-right: none;
  padding: 0.6429em 2.0714em 0.6429em 1em;
}
