.analysis-details-root {
  min-height: calc(100vh - 56px);
  margin: -0.5em;
  background-color: var(
    --file-details-vulnerability-analysis-details-background-light
  );

  .analysis-details-header {
    padding-bottom: 1.5em;
    background-color: var(
      --file-details-vulnerability-analysis-details-background-light
    );
    position: sticky;
    top: -0.5em;
    z-index: calc(
      var(--file-details-vulnerability-analysis-details-zIndex) - 1
    );

    .analysis-details-header-root {
      background-color: var(
        --file-details-vulnerability-analysis-details-background-main
      );

      box-shadow: var(
        --file-details-vulnerability-analysis-details-header-box-shadow
      );

      padding: 1.75em 1.5em;
      box-sizing: border-box;
    }
  }

  .analysis-details-header-container,
  .analysis-details-body-container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
  }

  .analysis-details-header-container {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
  }

  .analysis-details-body-container {
    margin: 0 auto;
  }

  .analysis-section {
    width: 100%;
    background-color: var(
      --file-details-vulnerability-analysis-details-background-main
    );
    margin-bottom: 1em;

    &.analysis-overridded-passed {
      background-color: var(
        --file-details-vulnerability-analysis-details-marked-passed-background-color
      );

      .analysis-content-title-container {
        background-color: var(
          --file-details-vulnerability-analysis-details-marked-passed-background-color
        );
      }

      .analysis-static-content {
        pre code {
          background-color: var(
            --file-details-vulnerability-analysis-details-marked-passed-code-background-color
          );

          border: 1px solid
            var(--file-details-vulnerability-analysis-details-border-color);
        }
      }
    }

    &.analysis-regulatory-section {
      padding: 0em;

      .analysis-regulatory-content {
        width: 100%;
        padding: 0em 1.5em 1em;

        &:not(:last-child) {
          border-bottom: 1px solid
            var(--file-details-vulnerability-analysis-details-divider-color);
        }
      }
    }
  }

  .analysis-section-container {
    border: 1px solid
      var(--file-details-vulnerability-analysis-details-divider-color);
  }

  .analysis-content-title-container {
    width: 100%;
    padding: 1em;
    position: sticky;
    top: calc(132px + 1.5em);
    z-index: 1;
    background-color: var(
      --file-details-vulnerability-analysis-details-background-main
    );
    border: 1px solid
      var(--file-details-vulnerability-analysis-details-divider-color);
  }

  .analysis-content-container {
    width: 100%;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: var(
      --file-details-vulnerability-analysis-details-divider-color
    );
  }

  .analysis-content-label {
    min-width: 250px;
    max-width: 250px;
  }

  .analysis-content-value {
    max-width: 460px;
  }

  .summary-container {
    flex: 1;
    height: 100%;
  }
}
