.app-platform-icon-container {
  width: 40px;
  height: 40px;
  padding: 0.25em;
  border-radius: var(--privacy-module-app-platform-border-radius);
  box-sizing: border-box;

  &.bordered {
    border: 1px solid var(--privacy-module-app-platform-border-color);
  }
}
