.finding-detail-card {
  background-color: var(--storeknox-fake-apps-finding-detail-card-bg-color);
  border: 1px solid var(--storeknox-fake-apps-finding-detail-card-border-color);
  border-radius: var(--storeknox-fake-apps-finding-detail-card-border-radius);
  padding: 1rem;
  width: 100%;

  &.ignored {
    background-color: var(
      --storeknox-fake-apps-finding-detail-card-ignored-bg-color
    );
  }
}

.detail-label {
  min-width: 170px;
}

.app-logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid var(--storeknox-fake-apps-finding-detail-card-border-color);
}

.app-logo-placeholder {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #1e90ff;
}
