{{page-title "Choose File"}}
<div class="columns">
  <div class="column margin-left">
    <h4 class="bold black-text">
      {{t "chooseAFile"}}
    </h4>
  </div>
</div>
<ChooseList @project={{@model.project}} @fileOld={{@model}}></ChooseList>
