<div class="payment-info-page">
  <h2>
    <AkIcon @iconName="done" />
  </h2>
  <h2>THANK YOU!</h2>
  <h5>Your payment is successful</h5>
  <div>
    <LinkTo @route="authenticated.index" class="button is-primary">
      <AkIcon @iconName="home" />
      &nbsp;
      {{t "gotoHome"}}
    </LinkTo>
  </div>
</div>
