<div class="payment-info-page">
  <h2><AkIcon @iconName="close" /></h2>
  <h2>PAYMENT FAILED!</h2>
  <h5>Sorry, an error occurred while handling your payment</h5>
  <div>
    <LinkTo @route="authenticated.index" class="button is-primary">
      <AkIcon @iconName="home" />
      &nbsp;
      {{t "gotoHome"}}
    </LinkTo>
  </div>
</div>
