{{page-title "Activate"}}
<div class="auth-main-container">
  {{auth-assets}}
  <div class="activate-container">
    <div class="activate-main">
      {{fa-icon "check-circle" class="is-success activate-main-icon"}}
      <p class="activate-main-text">
        {{t "activationSuccess"}}
      </p>
    </div>
  </div>
</div>
