<h3 class="m-b-xs text-black">Dashboard</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="panel b-a">
            <div class="row m-n">
                <div class="col-md-6 b-b b-r">
                    <a href="#" class="block padder-v hover">
                        <span class="i-s i-s-2x pull-left m-r-sm">
                            <i class="i i-hexagon2 i-s-base text-danger hover-rotate"></i>
                            <i class="i i-plus2 i-1x text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-danger">20</span>
                            <small class="text-muted text-u-c">Projets Created</small>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 b-b">
                    <a href="#" class="block padder-v hover">
                        <span class="i-s i-s-2x pull-left m-r-sm">
                            <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                            <i class="i i-users2 i-sm text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-success">75%</span>
                            <small class="text-muted text-u-c">Vulnarebility Ratio</small>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 b-b b-r">
                    <a href="#" class="block padder-v hover">
                        <span class="i-s i-s-2x pull-left m-r-sm">
                            <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                            <i class="i i-location i-sm text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-info">8</span>
                            <small class="text-muted text-u-c">Completed Scans</small>
                        </span>
                    </a>
                </div>
                <div class="col-md-6 b-b">
                    <a href="#" class="block padder-v hover">
                        <span class="i-s i-s-2x pull-left m-r-sm">
                            <i class="i i-hexagon2 i-s-base text-primary hover-rotate"></i>
                            <i class="i i-alarm i-sm text-white"></i>
                        </span>
                        <span class="clear">
                            <span class="h3 block m-t-xs text-primary">92</span>
                            <small class="text-muted text-u-c">Scans Left</small>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="m-b-xs text-black">Projects</h3>
<div class="row m-b">
    {{#each project in model}}
    <div class="col-sm-6 col-md-4">
        <section class="panel b-a">
            <div class="panel-heading no-border bg-success lt">
                <span class="pull-right badge dk m-t-sm bg-danger">3</span>
                <a href="#" class="h4 text-lt m-t-sm m-b-sm block font-bold">{{ project.name }}</a>
            </div>
            <div class="panel-body">
                <div class="row text-center m-t">
                    <span class="font-thin">Package: </span> some.package.name
                </div>
            </div>
        </section>
    </div>
    {{else}}
    <h3>You have not created any projects yet!</h3>
    {{/each}}
</div>
