{{page-title "Not Found"}}

<div class="error-page">
  <h1>404</h1>
  <h2>{{t "pageNotFound"}}</h2>
  <div>
    <LinkTo @route="authenticated.index" class="button is-primary">
      <AkIcon @iconName="home" />
      &nbsp;
      {{t "gotoHome"}}
    </LinkTo>
  </div>
</div>
