<div class="row m-t">
    {{#each file in model.files}}
    <div class="col-md-12">
        <section class="panel b-a">
            <div class="panel-heading scanning">
                <div class="h4 text-lt block font-bold">
                    {{file.name}}
                </div>
            </div>
            <div class="row panel-body">
                    Floopy Body
            </div>
        </section>
    </div>
    {{/each}}
</div>
