.filter-input {
  border-color: var(
    --file-details-dynamic-scan-modal-device-list-filter-border-color
  ) !important;
  padding: 0px 8px !important;

  &:hover {
    border-color: var(
      --file-details-dynamic-scan-modal-device-list-filter-hover-border-color
    ) !important;
  }
}
