.loading {
  border: 1px solid var(--appmonitoring-border-color);
  border-radius: var(--appmonitoring-border-radius);
  width: 100%;
  min-height: 35em;

  .loading-state-vector {
    margin-bottom: 1.5625em;
  }

  .loading-text {
    text-align: center;
    max-width: 302px;
  }
}
