.file-overview {
  border-radius: var(--file-overview-border-radius);
  border: 1px solid var(--file-overview-border-color-dark);
  background-color: var(--file-overview-background-white);
  height: 100%;
}

.file-overview-chart {
  flex: 1;
}
