<div data-test-nf-nsautoapprvd2-primary-message>
  {{t
    'notificationModule.messages.nf-nsautoapprvd2'
    htmlSafe=true
    platform_display=@context.platform_display
    namespace_value=@context.namespace_value
    requester_username=@context.requester_username
  }}
</div>