<div>
  {{t
    'notificationModule.messages.nf-nsautoapprvd2'
    platform_display=@context.platform_display
    namespace_value=@context.namespace_value
    requester_username=@context.requester_username
  }}
</div>